<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<div class="cui-wrapper">
  <div class="snap-drawers">
    <div class="snap-drawer">
      <nav id="desktop-menu" class="cui-off-canvas">
        <ul class="cui-off-canvas__list">
          <li class="cui-off-canvas__list-item">
            <a class="cui-off-canvas__list-item-link" href="./">
              <span class="cui-styleguide__nav__name">Overview</span>
            </a>
          </li>
          <li class="cui-off-canvas__list-item">
            <a class="cui-off-canvas__list-item-link" href="section-1.html">
              <span class="cui-styleguide__list-item-name"></span><span class="cui-styleguide__nav__name">Elements</span>
            </a>
            <ul class="cui-off-canvas__sub-section-list">
                <li class="cui-off-canvas__sub-section">
                  <a href="section-1.html#kssref-1-1">
                    <span class="cui-styleguide__nav__ref"> 1.1 </span><span class="cui-styleguide__nav__name">Backgrounds</span>
                  </a>
                </li>
                <li class="cui-off-canvas__sub-section">
                  <a href="section-1.html#kssref-1-2">
                    <span class="cui-styleguide__nav__ref"> 1.2 </span><span class="cui-styleguide__nav__name">Texts</span>
                  </a>
                </li>
                <li class="cui-off-canvas__sub-section">
                  <a href="section-1.html#kssref-1-3">
                    <span class="cui-styleguide__nav__ref"> 1.3 </span><span class="cui-styleguide__nav__name">Forms</span>
                  </a>
                </li>
                <li class="cui-off-canvas__sub-section">
                  <a href="section-1.html#kssref-1-4">
                    <span class="cui-styleguide__nav__ref"> 1.4 </span><span class="cui-styleguide__nav__name">Colors</span>
                  </a>
                </li>
                <li class="cui-off-canvas__sub-section">
                  <a href="section-1.html#kssref-1-5">
                    <span class="cui-styleguide__nav__ref"> 1.5 </span><span class="cui-styleguide__nav__name">Logos</span>
                  </a>
                </li>
                <li class="cui-off-canvas__sub-section">
                  <a href="section-1.html#kssref-1-6">
                    <span class="cui-styleguide__nav__ref"> 1.6 </span><span class="cui-styleguide__nav__name">Buttons</span>
                  </a>
                </li>
                <li class="cui-off-canvas__sub-section">
                  <a href="section-1.html#kssref-1-7">
                    <span class="cui-styleguide__nav__ref"> 1.7 </span><span class="cui-styleguide__nav__name">Tables</span>
                  </a>
                </li>
            </ul>
          </li>
          <li class="cui-off-canvas__list-item">
            <a class="cui-off-canvas__list-item-link" href="section-2.html">
              <span class="cui-styleguide__list-item-name"></span><span class="cui-styleguide__nav__name">Blocks</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <snap-content class="snap-content">
    <header class="cui-header">
      <div class="cui-header__top">
        <div class="cui-menu__toggle-button-container active" snap-toggle="left" onclick="Nav.navToggle()">
          <button class="cui-menu__toggle-button"></button>
        </div>
        <svg class="cui-header__svg-logo" viewBox="0 0 640 124"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="public/img/svg-out.svg#covisint-logo"></use></svg>
    </div></header>
    <div class="cui-nav__content-wrapper">
      <div class="cui-styleguide__main-container">
        <!--   <header class="cui-styleguide__header">
            <h1 class="cui-styleguide__doc-title"></h1>
          </header> -->
      <nav id="desktop-menu" class="cui-off-canvas desktop-menu">
        <ul class="cui-off-canvas__list">
          <li class="cui-off-canvas__list-item">
            <a class="cui-off-canvas__list-item-link" href="./">
              <span class="cui-styleguide__list-item-name">Overview</span>
            </a>
          </li>
          <li class="cui-off-canvas__list-item">
            <a class="cui-off-canvas__list-item-link" href="section-1.html">
              <span class="cui-styleguide__nav__ref"></span><span class="cui-styleguide__nav__name">Elements</span>
            </a>
            <ul class="cui-off-canvas__sub-section-list">
                <li class="cui-off-canvas__sub-section">
                  <a href="section-1.html#kssref-1-1">
                    <span class="cui-styleguide__nav__ref"> 1.1 </span><span class="cui-styleguide__nav__name">Backgrounds</span>
                  </a>
                </li>
                <li class="cui-off-canvas__sub-section">
                  <a href="section-1.html#kssref-1-2">
                    <span class="cui-styleguide__nav__ref"> 1.2 </span><span class="cui-styleguide__nav__name">Texts</span>
                  </a>
                </li>
                <li class="cui-off-canvas__sub-section">
                  <a href="section-1.html#kssref-1-3">
                    <span class="cui-styleguide__nav__ref"> 1.3 </span><span class="cui-styleguide__nav__name">Forms</span>
                  </a>
                </li>
                <li class="cui-off-canvas__sub-section">
                  <a href="section-1.html#kssref-1-4">
                    <span class="cui-styleguide__nav__ref"> 1.4 </span><span class="cui-styleguide__nav__name">Colors</span>
                  </a>
                </li>
                <li class="cui-off-canvas__sub-section">
                  <a href="section-1.html#kssref-1-5">
                    <span class="cui-styleguide__nav__ref"> 1.5 </span><span class="cui-styleguide__nav__name">Logos</span>
                  </a>
                </li>
                <li class="cui-off-canvas__sub-section">
                  <a href="section-1.html#kssref-1-6">
                    <span class="cui-styleguide__nav__ref"> 1.6 </span><span class="cui-styleguide__nav__name">Buttons</span>
                  </a>
                </li>
                <li class="cui-off-canvas__sub-section">
                  <a href="section-1.html#kssref-1-7">
                    <span class="cui-styleguide__nav__ref"> 1.7 </span><span class="cui-styleguide__nav__name">Tables</span>
                  </a>
                </li>
            </ul>
          </li>
          <li class="cui-off-canvas__list-item">
            <a class="cui-off-canvas__list-item-link" href="section-2.html">
              <span class="cui-styleguide__nav__ref"></span><span class="cui-styleguide__nav__name">Blocks</span>
            </a>
          </li>
        </ul>
      </nav>

        <article role="main" class="cui-styleguide__main">

              <div id="kssref-1" class="cui-tile cui-styleguide__section cui-styleguide__section--depth-1">
              </div>
              <section id="kssref-1-1" class="cui-tile cui-styleguide__section cui-styleguide__section--depth-2">
            

            <div class="cui-styleguide__style">
              <div clas="cui-tile__title"></div>
              <h2 class="cui-tile__title cui-styleguide__title cui-styleguide__title--level-2">
                <a class="cui-styleguide__title__permalink" href="#kssref-1-1">
                  <span class="cui-styleguide__title__ref">
                      1.1
                  </span>
                  Backgrounds
                </a>
              </h2>

            </div>

            <div class="cui-tile__body">
            

              <div class="cui-styleguide-modifier__wrapper">
                <div class="cui-styleguide-modifier__heading cui-styleguide__style">
                  <div class="cui-styleguide-modifier__title">EXAMPLE: </div>
                </div>
                <div class="cui-styleguide-modifier__example">
                  <div class="cui-background">Primary</div><div class="cui-background--secondary">Secondary</div>
                </div>
              </div>
              <div class="cui-styleguide__markup-title">CODE:</div>
              <div class="cui-styleguide__markup-container cui-styleguide__style">
                <pre class="cui-styleguide__markup prettyprint linenums lang-html"><code data-language="html">&lt;div class="cui-background"&gt;Primary&lt;/div&gt;&lt;div class="cui-background--secondary"&gt;Secondary&lt;/div&gt;</code></pre>
              </div>
              </div>
              </section>
        </article>
      </div>
    </div>
  </snap-content>
</div>
</body>
</html>

