/*
Action Bar

.cui-action--alt-bg     - Alternative background styling

Markup:
<div class="cui-action {{modifier_class}}">
  <span class="cui-action__title">Action Title</span>
  <div class="cui-action__actions">
    <svg xmlns="http://www.w3.org/2000/svg" class="cui-action__icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 216 146">
      <use xlink:href="bower_components/cui-icons/dist/font-awesome/font-awesome-out.svg#filter10"></use>
    </svg>  
    <svg xmlns="http://www.w3.org/2000/svg" class="cui-action__icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 216 146">
      <use xlink:href="bower_components/cui-icons/dist/font-awesome/font-awesome-out.svg#sort14"></use>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" class="cui-action__icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 216 146">
      <use xlink:href="bower_components/cui-icons/dist/font-awesome/font-awesome-out.svg#plus25"></use>
    </svg>
  </div>
</div>

Styleguide Blocks.Action-Bar
*/

.cui-action {
  align-items: center;
  background-color: $secondary-background;
  cursor: pointer;
  display: flex;
  flex: 1;
  min-height: 60px;
  padding: 0 em(13);

  @media screen and (min-width: 701px) {
    padding: 0 em(55) 0 em(65);
  }

  &--alt-bg {
    background-color: $tertiary-background;
  }

  &__title {
    @extend %h6;
    color: $cui-primary-colors--dark;
    display: flex;
    flex: .5;

    @media screen and (min-width: 701px) {
      flex: .75
    }
  }

  &__actions {
    display: flex;
    flex: .5;
    justify-content: flex-end;

    @media screen and (min-width: 701px) {
      flex: .25
    }
  }

  &__icon,
  &__icon--lg, {
    cursor: pointer;
    fill: $cui-primary-colors--medium;
    height: $action-bar-icon-height;
    min-width: 26px;
    width: auto;

    use {
      color: $cui-primary-colors--medium;
    }
  }

  &__icon--lg {
    height: em(40);
    width: em(33);
  }

  &__icon-counter {
    color: $cui-primary-colors--medium;
    font-family: lato-bold;
    margin-left: -8px;
    top: 2px;
  }

  .cui-input-button {
    height: em(40);
  }
  
  .cui-input-button__input {
    flex: .82;
  }

  .cui-input-button__button {
    flex: .18;
  }
}
