/*
Action Bar

.cui-action--alt-bg     - Alternative background styling

Markup: ../../hbs/action-bar.hbs

Styleguide Navigation.Action-Bar
*/

.cui-action {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex: 1;
  min-height: 60px;
  padding: 0 em(13);

  @media screen and (min-width: 701px) {
    padding: em(19) em(55) 0 em(65);
  }

  &--min {
    padding-top: 10px;
    min-height: 0;
  }

  &--alt {

    .cui-action__title {
      color: $cui-primary-colors--dark;
    }

    .cui-action__icon,
    .cui-action__icon--lg, {
      cursor: pointer;
      fill: $cui-primary-colors--dark;
      height: $action-bar-icon-height;
      min-width: 26px;
      width: auto;
      transition: fill .15s;

      use {
        color: $cui-primary-colors--dark;
        transition: color .15s;
      }
    }

    .cui-action__icon-counter {
      color: $cui-primary-colors--dark;
      font-family: lato-bold;
      margin-left: -8px;
      top: -5px;
      transition: color .15s;
    }

    .cui-action__icon--active,
    .cui-action__icon-counter--active {
      color: $cui-primary-colors--medium;
      fill: $cui-primary-colors--medium;
      transition: color .15s, fill .15s;

      use {
        color: $cui-primary-colors--medium;
        transition: color .15s;
      }
    }
  }

  &__title {
    @extend %bold;
    color: $cui-primary-colors--medium;
    display: flex;
    flex: .5 auto;
    font-size: em(18);

    @media screen and (min-width: 701px) {
      font-size: em(20);      
      flex: .75 auto;
    }

    &--dark {
      color: $cui-greyscale--dark;
    }
  }

  &__actions {
    display: flex;
    flex: .5;
    justify-content: flex-end;
    margin-left: auto;

    @media screen and (min-width: 701px) {
      flex: .25
    }
  }

  &__action-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: em(15);

    .cui-action__icon {
      margin: 0 auto;
    }
  }

  &__action-label {
    color: $cui-primary-colors--medium;
    font-size: 11px;
    text-align: center;
  }

  &__icon,
  &__icon--lg, {
    cursor: pointer;
    fill: $cui-primary-colors--medium;
    min-width: 26px;
    width: auto;

    use {
      color: $cui-primary-colors--medium;
    }
  }

  &__icon {
    height: $action-bar-icon-height;
  }

  &__icon--lg {
    height: em(40);
    width: em(33);
  }

  &__icon--new,
  &__icon--close {
    fill: #fff;
    height: em(45);
    margin-left: em(30);
    margin-top: -2px;
    width: auto;
  }

  &__icon--new {

    use {
      color: $cui-primary-colors--medium-dark;
    }
  }

  &__icon-counter {
    color: $cui-primary-colors--medium;
    font-family: lato-bold;
    margin-left: -8px;
    top: 2px;
  }

  &__icon--invite {
    color: $cui-primary-colors--medium-dark;
    height: em(40);
    width: em(40);

    use {
      color: $cui-primary-colors--medium-dark;
    }
  }

  .cui-input-button {
    height: em(40);
  }
  
  .cui-input-button__input {
    flex: .82;
  }

  .cui-input-button__button {
    flex: .18;
  }

  &__popover {
    @extend .cui-popover;
    @extend .cui-popover--top;
    border-radius: em(3);
    box-shadow: 0 1px em(5) 0 $cui-primary-colors--medium-dark;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: em(200);
    padding-right: em(30);
    width: em(216);

    &::before {
      left: 75%;
    }
  }

  &__popover-title {
    @extend %h5;
    @extend %h5--bold;
    color: $cui-primary-colors--dark;
  }

  &__popover-section {
    font-size: em(14);
    padding: em(10) 0;
  }

  &__popover-button {
    @extend .cui-button;
    @extend .cui-button--full-width;
    display: flex;
    font-size: em(11);
    height: em(32, 11);
    letter-spacing: $letter-spacing-lg;
  }
}
