/*
Breadcrumb Navigation

Markup:
<nav class="cui-breadcrumb">
  <ul class="cui-breadcrumb__links">
    <li class="cui-breadcrumb__link cui-breadcrumb__link--current">
      <a href="#">Organization Profile</a>
    </li>
    <li class="cui-breadcrumb__link">
      <a href="#">Hierarchy</a>
    </li>
    <li class="cui-breadcrumb__link">
      <a href="#">Directory</a>
    </li>
    <li class="cui-breadcrumb__link">
      <a href="#">Roles</a>
    </li>
  </ul>
</nav>

Styleguide Blocks.Breadcrumb
*/

.cui-breadcrumb{
  display: flex;
  flex: 1 auto;
}


.cui-breadcrumb__links {
  @extend %bold;
  display: flex;
  font-size: em(18);
  width: 100%;
}

.cui-breadcrumb__link {
  align-items: center;
  border-right: $breadcrumb-seperator;
  display: flex;
  flex: 0 auto;
  padding: 0 8px;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
    border-right: none;
  }

  a {
    color: $breadcrumb-link-color;
    text-decoration: none;

    &.active {
     color: $breadcrumb-link-color--active;
    }
  }
}

.cui-breadcrumb__link--current{
    a {
      color: $breadcrumb-link-color--active;
    }
  }

