/*
Card

Markup:
<div>
  <div class="cui-card">
    <div class="cui-card__image-container">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="88px"
         height="88px" viewBox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve">
        <use class="cui-card__icon" xlink:href="bower_components/cui-icons/dist/icons/icons-out.svg#user"></use>
      </svg>
    </div>
    <div class="cui-card__content">
      <h3 class="cui-card__content-header">Header</h3>
      <p>Some text that appropriately describes the context of this card. Some text that appropriately describes the context of this card.</p>
    </div>
    <button class="cui-card__button">Button</button>
  </div>
</div>

Styleguide Blocks.Cards
*/

// styles below to be removed with next relese
.cui-card__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: em(500);
  @media screen and (min-width: 600px) {
    flex-direction: row;
    justify-content: space-between;
  }
}
// styles above to be removed with next release

.cui-card {
  background: $card-background-color;
  border-radius: $card-border-radius;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: em(460);
  margin: em(10);
  max-width: 20em;
  padding: $card-padding;
  transition: box-shadow .2s ease, transform .2s ease;
  
  &:hover {
    box-shadow: 0 1px 5px rgba($cui-primary-colors--medium, .9);
    transform: translateY(-3px);
  }
}

.cui-card__image-container {
  justify-content: center;
  display: flex;
}

.cui-card__image {
  width: 100%;
}

p {
  max-width: 100%;
}

.cui-card__content {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  line-height: 1.4;
}

.cui-card__content-header {
  align-self: center;
  color: $card-header-color;
  font-size: $card-header-font-size;
  font-weight: $card-header-font-weight;
  margin: $card-header-margin;
}

.cui-card__icon {
  fill: $card-icon-color;
}

.cui-card__button {
  @extend .cui-button;
  align-self: center;
  border-radius: $card-button-border-radius;
  height: $card-button-height;
}