/*
Default Cards

Markup: ../../hbs/cards.hbs

Styleguide Cards.Default-Cards
*/

// styles below to be removed with next relese
.cui-card__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: em(500);

  @media screen and (min-width: 600px) {
    flex-direction: row;
    justify-content: space-between;
  }
}
// styles above to be removed with next release

.cui-card {
  background: $card-background-color;
  border-radius: $card-border-radius;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: em(460);
  margin: em(10);
  max-width: 20em;
  padding: $card-padding;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.cui-card__image-container {
  justify-content: center;
  display: flex;

  svg {
    height: 75px;
    width: 75px;
  }
}

.cui-card__image {
  width: 100%;
}

p {
  max-width: 100%;
}

.cui-card__content {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  line-height: 1.4;

  p {
    color: $card-content-color;
    letter-spacing: $letter-spacing-sm;
  }
}

.cui-card__content-header {
  align-self: center;
  color: $card-header-color;
  font-size: $card-header-font-size;
  font-weight: $card-header-font-weight;
  margin: $card-header-margin;
  min-height: em(66, 24);
  text-align: center;
}

.cui-card__icon {
  fill: $card-icon-color;
}

.cui-card__button {

  @extend .cui-button;

  align-self: center;
  border-radius: $card-button-border-radius;
  height: $card-button-height;
  margin-top: em(35);
}

/*
Alternative Cards

Markup: ../../hbs/cards--alt.hbs

Weight: 10

Styleguide Cards.Alternative-Cards
*/

.cui-card--alt {

  &.cui-card {
    background-color: $cui-white;
    border-radius: em(3);
    border: solid em(1) $cui-primary-colors--medium;
    height: em(294);
    min-height: auto;
    padding: 0;
    position: relative;
  }

  .cui-card__header {
    background: $cui-background-gradient;
    height: em(54);
  }

  .cui-card__logo {
    border: 4px solid $cui-greyscale--x-light;
    border-radius: 100%;
    height: em(100);
    position: absolute;
    top: 15px;
    left: calc(50% - 50px);
    width: em(100);
  }

  .cui-card__title {

    @extend %bold;

    color: $secondary-font-color;
    font-size:em(18);
    margin: em(77, 18) auto em(13, 18) auto;
  }

  .cui-card__desc {
    line-height: calc(21px * 1);
    margin-bottom: em(17);
  }

  .cui-card__field {

    @extend %bold;

    color: $secondary-font-color;
    font-size: em(18);
    padding: 0 em(23, 18);
  }

  .cui-card__value {
    color: $secondary-font-color;
    padding: 0 em(23);
  }

  .cui-card__bottom-row {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 em(23);

    .cui-button {
      height: em(31, 15);
      width: em(118, 15);
    }
  }

  .cui-card__category {
    font-size: em(12);
  }
}
