//DESKTOP MENU CSS

// New design styles for desktop menu.
// To apply, add .v2 class to cui-wrapper elmement
// and add menu toggle button as sibling before header element
.v2 {
  height: 100%;

  .cui-menu__content-wrapper,
  .cui-nav__content-wrapper {
    margin-left: 180px;

    @if $snap-menu == true {
      @media screen and (max-width: $snap-menu-breaking-point-1){
          margin-left:0;
      }
    }

    &--full-width {
      margin-left: 0;
    }

    &.cui-desktop-menu--collapse {
      margin-left: 80px;

      @if $snap-menu == true{
        @media screen and (max-width: $snap-menu-breaking-point-1){
            margin-left:0;
        }
      }
    }
  }

  .cui-desktop-menu {
    background: $menu-background-color;
    height: calc(100% - 80px);
    left: 0;
    margin-top: 80px;
    position: absolute;
    top:0;
    transition: all 150ms ease-in-out;
    width: 180px;

    @if $snap-menu == true {
      display: none;
      @media screen and (min-width:$snap-menu-breaking-point){
          display: inline-block;
      }
    }

    &--collapse { 
      left: -100px;
    }
  }

  .cui-desktop-menu__option,
  .snap-menu--option {
    align-items: center;
    background: transparent;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin:10px 0;
    min-height: em(60);
    padding: 10px 20px;
    transition: background-color .15s linear, color .15s linear;

    &:hover {
      color: $menu-section-font-color--hover;
      .cui-desktop-menu__icon,
      .snap-menu__icon {
        fill: $menu-section-font-color--hover;
      }
    }

    &.active {
      background: $secondary-background;
      color: $cui-primary-colors--medium;

      .cui-desktop-menu__icon,
      .snap-menu__icon {
        fill: $cui-primary-colors--medium;
      }
    }
  }

  .cui-desktop-menu__option:first-of-type,
  .snap-menu--option:first-of-type {
    margin-top: 0;
  }

  .cui-desktop-menu__option-name,
  .snap-menu__option-name {
    font-size: em(14);
    flex: 1;
  }

  .cui-desktop-menu__icon,
  .snap-menu__icon {
    @extend .cui-icon;
    fill: #fff;
    flex: .5;
    height: em(32);
    transition: fill .15s linear;
  }

  .cui-desktop-menu__icon {
    padding-left: 15px;
  }

  .cui-menu__toggle-button--desktop {
    background: $cui-primary-colors--medium-dark;
    position: absolute;
    left: 0;
    top: 0;
    height: 80px;
    padding-left: 27px;
    width: 180px;
    z-index: 1;

    @media screen and (max-width: $snap-menu-breaking-point-1) {
      display: none;
    }
  }

  .cui-header {
    z-index: 10;

    .cui-menu__toggle-button-container {
      @media screen and (min-width: $snap-menu-breaking-point) {
        display: none;
      }
    }
  }

  .cui-header__svg-logo {
    margin-left: -180px;
    transition: margin-left .15s ease-in-out;
  }

  .cui-desktop-menu--collapse .cui-header__svg-logo {
    margin-left: -80px;
    transition: margin-left .15s ease-in-out;
  }

  .cui-off-canvas__section-link {
    display: flex;
    align-items: center;
    padding-left: 15px;
  }

  .cui-profile {
    @media screen and (max-width: $snap-menu-breaking-point-1) {
      display: none;
    }
  }

  // styling for off-canvas profile

  .cui-profile--mobile {
    background: #E8F0F3;
    flex-direction: column;
    height: auto;
    margin-left: 0;
    margin-top: 80px;

    @media screen and (max-width: $snap-menu-breaking-point-1) {
      display: flex;
    }

    .cui-profile__row {
      align-items: center;
      display: flex;
      width: 100%;

      &:first-of-type {
        padding: 15px 10px 0;
      }
    }

    .cui-profile__user-menu {
      transform: none;
    }

    .cui-profile__user-name {
      display: block;
    }

    .cui-media__image-container {
      order: -2;
    }

    .cui-profile__menu-item {
      padding: 0 20px 12px 20px;

      &:first-of-type {
        padding: 9px 20px 12px 20px;
      }
    }
    
  }

  .menu-toggle--mobile {
    @media screen and (min-width: $snap-menu-breaking-point) {
      display: none;
    }
  }

  .cui-profile__link-icon {
    height: em(20);
    width: em(20);
  }

}

// End styles for new menu

.desktop-menu {
  background: $menu-background-color;
  height: calc(100% - 80px);
  left: 0;
  margin-top: 80px;
  position: absolute;
  top:0;
  transition: all 150ms ease-in-out;
  width: $desktop-menu-width;

  @if $snap-menu == true{
    display: none;
    @media screen and (min-width:$snap-menu-breaking-point){
        display: inline-block;
    }
  }
  &--collapse{
    left:(-$desktop-menu-width);
  }
}

.desktop-menu--option {
  background:$cui-primary-colors--medium-dark;
  color:white;
  cursor: pointer;
  display:block;
  margin:10px 0;
  padding: 10px 20px;

  &:hover {
    color: $cui-secondary-colors--medium;
  }

  &:first-of-type {
    margin-top: 30px;
  }
}


// MENU TOGGLE

.menu-toggle--button,
.cui-menu__toggle-button {
    background: $menu-toggle-color;
    border: none;
    height: 1px;
    padding: 0;
    position: relative;
    transition: width .1s linear;
    width: 25px;
    
    &:before {
        background: $menu-toggle-color;
        content: '';
        height: 1px;
        left: 0;
        position: absolute;
        top: -9px;
        transition: transform .1s ease-in-out, top .1s .1s ease-in-out;
        width: 25px;
    }

    &:after {
        background: $menu-toggle-color;
        bottom: -9px;
        content:'';
        height: 1px;
        left: 0;
        position: absolute;
        transition: transform .1s ease-in-out, bottom .1s .1s ease-in-out;
        width: 25px;
    }
}

.cui-menu__toggle-button:focus {
  box-shadow: 0 1px 3px rgba(100, 100, 100, 0.6);
  outline: 0;

  &:before,
  &:after {
    box-shadow: 0 1px 3px rgba(100, 100, 100, 0.6);
    outline: 0;
  }
}

.menu-toggle,
.cui-menu__toggle-button-container {
  cursor: pointer;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;

  &--desktop {
    display: none;
    @media screen and (min-width: 1001px) {
      display: flex;
    }
  }

  &--mobile {
    display: flex;
    @media screen and (min-width: 1001px) {
      display: none;
    }
  }
  
  &.active {
    .menu-toggle--button,
    .cui-menu__toggle-button {
      width: 0;
      transition: width .1ms linear;

      &:before{
        top: 0;
        transform: rotateZ(45deg);
        transition: top .1s ease-in-out, transform .1s .1s ease-in-out;
      }

      &:after{
        bottom: 0;
        transform: rotateZ(-45deg);
        transition: bottom .1s ease-in-out, transform .1s .1s ease-in-out;
      }
    }
  }
}

