//DESKTOP MENU CSS

.desktop-menu{
  background: $menu-background-color;
  left: 0;
  position: absolute;
  top:0;
  margin-top: 80px;
  bottom: 0;
  width: $desktop-menu-width;
  transition: all 150ms ease-in-out;

  @if $snap-menu == true{
    display: none;
    @media screen and (min-width:$snap-menu-breaking-point){
        display: inline-block;
    }
  }
  &--collapse{
    left:(-$desktop-menu-width);
  }
}

.desktop-menu--option {
  background:$cui-primary-colors--medium-dark;
  color:white;
  cursor: pointer;
  display:block;
  margin:10px 0;
  padding: 10px 20px;

  &:hover {
    color: $cui-secondary-colors--medium;
  }

  &:first-of-type {
    margin-top: 30px;
  }
}


// MENU TOGGLE

.menu-toggle--button,
.cui-menu__toggle-button {
    background: $menu-toggle-color;
    border: none;
    height: 2px;
    padding: 0;
    position: relative;
    transition: background 200ms ease-in-out;
    width: 15px;
    
    &:before {
        background: $menu-toggle-color;
        content: '';
        height: 2px;
        left: 0;
        position: absolute;
        top: -9px;
        transition: background 200ms ease-in-out;
        width: 20px;
    }

    &:after {
        background: $menu-toggle-color;
        bottom: -9px;
        content:'';
        height: 2px;
        left: 0;
        position: absolute;
        transition: background 200ms ease-in-out;
        width: 20px;
    }
}

.cui-menu__toggle-button:focus {
  box-shadow: 0 1px 3px rgba(100, 100, 100, 0.6);
  outline: 0;

  &:before,
  &:after {
    box-shadow: 0 1px 3px rgba(100, 100, 100, 0.6);
    outline: 0;
  }
}

.menu-toggle,
.cui-menu__toggle-button-container {
  cursor: pointer;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  &.active {
    .menu-toggle--button,
    .cui-menu__toggle-button {
      background: $menu-toggle-color--active;

      &:before{
        background: $menu-toggle-color--active;
      }

      &:after{
        background: $menu-toggle-color--active;
      }
    }
  }
}