/*
Expandable

Markup:
<div class="cui-expandable expanded">
  <div class="cui-expandable__title">
    Expandable Group #1
    <span class="chevron">></span>
  </div>
  <ul class="cui-expandable__body">
    <li class="cui-expandable__review-item">Revealed item</li>
    <li class="cui-expandable__review-item">Revealed item</li>
    <li class="cui-expandable__review-item">Revealed item</li>
    <li class="cui-expandable__review-item">Revealed item</li>
  </ul>
</div>
<div class="cui-expandable">
  <div class="cui-expandable__title">
    Expandable Group #2
    <span class="chevron">></span>
  </div>
  <ul class="cui-expandable__body">
    <li class="cui-expandable__review-item">Hidden item</li>
    <li class="cui-expandable__review-item">Hidden item</li>
    <li class="cui-expandable__review-item">Hidden item</li>
    <li class="cui-expandable__review-item">Hidden item</li>
  </ul>
</div>
<div class="cui-expandable">
  <div class="cui-expandable__title">
    Expandable Group #3
    <span class="chevron">></span>
  </div>
  <ul class="cui-expandable__body">
    <li class="cui-expandable__review-item">Another hidden item</li>
    <li class="cui-expandable__review-item">Another hidden item</li>
    <li class="cui-expandable__review-item">Another hidden item</li>
    <li class="cui-expandable__review-item">Another hidden item</li>
  </ul>
</div>

Styleguide Blocks.Expandable
*/

.cui-expandable {
  border-bottom: 1px solid #ddd;
  display: block;
  padding-bottom: 10px;
  position: relative;
  width: 100%;



  &__title {
    color: $expandable-title-color;
    cursor: pointer;
    display: block;
    padding: 10px 0 0;

    &--flex {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }

    .cui-expandable__title-left,
    .cui-expandable__title-middle,
    .cui-expandable__title-end {
      flex: 1;
    }

    .cui-expandable__title-left {
      @extend %h5--bold;
    }

    .cui-expandable__title-middle {
      color: $secondary-font-color;
      display: flex;
      justify-content: center;
      font-size: em(14);
    }  

    .cui-expandable__title-end {
      display: flex;
      justify-content: flex-end;
    }

  }

  &__title--error {
    color: red;
    font-weight: 700;
  }

  &__review-item {
    color: $expandable-review-item-color;
    font-size: $expandable-review-item-font-size;
    line-height: .75;
    margin: $expandable-review-item-margin;
  }

  &:last-of-type {
    margin-bottom: 20px;
  }

  &__body {
    @extend .cui-ul;
    display: block;
    overflow: hidden;
    width: 100%;
  }

  &.expanded {
    >.cui-expandable__body {
    }

    >.cui-expandable__title>.chevron {
      transform: rotate(90deg);
    }
  }
}

.cui-expandable__body-pane {
  background-color: $tertiary-background;
  display: flex;
  justify-content: space-between;
  padding: em(60);
  position: relative;
  width: 90%;
  margin-left: 5%;

  .cui-expandable__body-close {
    position: absolute;
    top: 5px;
    right: 12px;

    .cui-icon {
      height: 14px;
      width: 14px;
    }
  }

  .cui-expandable__pane-title {
    @extend %h4--bold;
    color: $secondary-font-color;
    margin-bottom: em(35);
  }

  .cui-expandable__pane-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .cui-expandable__pane-content {
    @extend %h5--bold;
    color: $secondary-font-color;

    .cui-checkbox__label:before {
      background-color: transparent;
      border: 2px solid $secondary-font-color;
    }

    .cui-checkbox:checked + .cui-checkbox__label:before {
      box-shadow: none;
    }
  }

  .cui-expandable__pane-content-item {
    display: flex;
    justify-content: space-between;
  }
}

.cui-expandable__review-button {
  @extend .cui-link;
  cursor:pointer;
}

.cui-expandable__review-input {
  @extend .cui-input;
  display: inline-block;
  font-size: 1em;
  height: auto;
  margin: -6px 0 -6px 0;
  padding: 0 2px;
  width: 300px;
}

.cui-expandable__review-select {
  @extend .cui-select;
  display: inline-block;
  font-size: 1em;
  height: auto;
  margin: -6px 0 -6px 0;
  padding: 0 2px;
  width: 300px;
}

.cui-expandable__body {
  padding-left: 20px;
  padding-right: 20px;
}

.cui-expandable__edit-button{
  cursor: pointer;
  left: 0;
  position: absolute;
  top: 0;
  transform: translate(-100%,0px);

  .cui-expandable__edit-icon {
    fill: #333;
    height: 30px;
    width: 30px;
  }

  &:hover{
    .cui-expandable__edit-icon {
        fill: $cui-primary-colors--medium-light;
    }
  }

}

.indicator-container {
  border-bottom: $step-indicator-border-bottom;
  display: flex;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  margin-bottom: $step-indicator-margin-bottom;
  position: relative;

  .steps-bar {
    background-color: $step-indicator-middle-bar-color;
    height: $step-indicator-middle-bar-size;
    position: absolute;
    top: 62%;
    z-index: 0;

    &--no-js {
      width: 100%;
    }

    .steps-bar-fill {
      background-color: #D0D0D0;
      display: inline-block;
      height: em(2);
      position: absolute;
    }
  }

  &.small {
    & .step-indicator {
      display: none;
      pointer-events: none;

      &.active {
        border: 0;
        display:inline-block;
        margin:0 auto;
        text-align: center;
        color: #bbb;
      }
    }
  }
}

.indicator-container--icons {
  border-bottom: 0;

  &.small {
    
    .steps-bar {
      display: none;
    }

    & .step-indicator {
      display: none;
      pointer-events: none;

      &.active {
        color: $step-indicator-title-color--small-active;
      }

      &.visited {
        color: $step-indicator-title-color--small-visited;
      }
    }
  }
}

