/*
Expandable

Markup:
<div class="cui-expandable expanded">
  <div class="cui-expandable__title">
    Expandable Group #1
    <span class="chevron">></span>
  </div>
  <ul class="cui-expandable__body">
    <li class="cui-expandable__review-item">Revealed item</li>
    <li class="cui-expandable__review-item">Revealed item</li>
    <li class="cui-expandable__review-item">Revealed item</li>
    <li class="cui-expandable__review-item">Revealed item</li>
  </ul>
</div>
<div class="cui-expandable">
  <div class="cui-expandable__title">
    Expandable Group #2
    <span class="chevron">></span>
  </div>
  <ul class="cui-expandable__body">
    <li class="cui-expandable__review-item">Hidden item</li>
    <li class="cui-expandable__review-item">Hidden item</li>
    <li class="cui-expandable__review-item">Hidden item</li>
    <li class="cui-expandable__review-item">Hidden item</li>
  </ul>
</div>
<div class="cui-expandable">
  <div class="cui-expandable__title">
    Expandable Group #3
    <span class="chevron">></span>
  </div>
  <ul class="cui-expandable__body">
    <li class="cui-expandable__review-item">Another hidden item</li>
    <li class="cui-expandable__review-item">Another hidden item</li>
    <li class="cui-expandable__review-item">Another hidden item</li>
    <li class="cui-expandable__review-item">Another hidden item</li>
  </ul>
</div>

Styleguide Blocks.Expandable
*/

.cui-expandable {
  border-bottom: 1px solid #ddd;
  display: block;
  padding-bottom: 10px;
  position: relative;
  width: 100%;

  &__title {
    color: #333;
    cursor: pointer;
    display: block;
    padding: 10px 0 0;
  }

  &__title--error {
    color:red;
    font-weight: 700;
  }

  &__review-item {
    color: #666;
    font-size: 14px;
    line-height: .75;
    margin: 1em 0;
  }

  &:last-of-type {
    margin-bottom: 20px;
  }

  &__body {
    @extend .cui-ul;
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: $expandable-transition;
  }

  &.expanded {
    >.cui-expandable__body {
      max-height: 2000px;
    }

    >.cui-expandable__title>.chevron {
      transform: rotate(90deg);
    }
  }
}

.cui-expandable__review-button {
  @extend .cui-link;
  cursor:pointer;
}

.cui-expandable__review-input {
  @extend .cui-input;
  display: inline-block;
  font-size: 1em;
  height: auto;
  margin: -6px 0 -6px 0;
  padding: 0 2px;
  width: 300px;
}

.cui-expandable__review-select {
  @extend .cui-select;
  display: inline-block;
  font-size: 1em;
  height: auto;
  margin: -6px 0 -6px 0;
  padding: 0 2px;
  width: 300px;
}

.cui-expandable__body {
  padding-left: 10px;
}

.cui-expandable__edit-button{
  cursor: pointer;
  left: 0;
  position: absolute;
  top: 0;
  transform: translate(-100%,0px);

  .cui-expandable__edit-icon {
    fill: #333;
    height: 30px;
    width: 30px;
  }

  &:hover{
    .cui-expandable__edit-icon {
        fill: $cui-primary-colors--medium-light;
    }
  }

}

.indicator-container {
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  position: relative;

  .steps-bar {
    background: #ccc;
    height: em(2);
    position: absolute;
    top: 62%;
    z-index: 0;

    &--no-js {
      width: 100%;
    }

    .steps-bar-fill {
      background: #D0D0D0;
      display: inline-block;
      height: em(2);
      position: absolute;
    }
  }

  &.small {
    & .step-indicator {
      display: none;
      pointer-events: none;

      &.active {
        border: 0;
        display:inline-block;
        margin:0 auto;
        text-align: center;
        color: #bbb;
      }
    }
  }
}

.indicator-container--icons {
  border: 0;

  &.small {
    & .step-indicator {
      display: none;
      pointer-events: none;

      &.active {
        color: #429DD1;
      }

      &.visited {
        color: #666;
      }
    }
  }
}

