/*
Deafult Expandable

Markup:
<div class="cui-expandable expanded">
  <div class="cui-expandable__title">
    Expandable Group #1
    <span class="chevron">
      <svg class="cui-icon cui-icon--light-grey" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid meet" viewBox="0 0 216 146">
        <use xlink:href="node_modules/cui-icons/dist/font-awesome/font-awesome-out.svg#chevron18"></use>
      </svg>
    </span>
  </div>
  <ul class="cui-expandable__body">
    <li class="cui-expandable__review-item">Revealed item</li>
    <li class="cui-expandable__review-item">Revealed item</li>
    <li class="cui-expandable__review-item">Revealed item</li>
    <li class="cui-expandable__review-item">Revealed item</li>
  </ul>
</div>
<div class="cui-expandable">
  <div class="cui-expandable__title">
    Expandable Group #2
    <span class="chevron">
      <svg class="cui-icon cui-icon--light-grey" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid meet" viewBox="0 0 216 146">
        <use xlink:href="node_modules/cui-icons/dist/font-awesome/font-awesome-out.svg#chevron18"></use>
      </svg>
    </span>
  </div>
  <ul class="cui-expandable__body">
    <li class="cui-expandable__review-item">Hidden item</li>
    <li class="cui-expandable__review-item">Hidden item</li>
    <li class="cui-expandable__review-item">Hidden item</li>
    <li class="cui-expandable__review-item">Hidden item</li>
  </ul>
</div>
<div class="cui-expandable">
  <div class="cui-expandable__title">
    Expandable Group #3
    <span class="chevron">
      <svg class="cui-icon cui-icon--light-grey" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid meet" viewBox="0 0 216 146">
        <use xlink:href="node_modules/cui-icons/dist/font-awesome/font-awesome-out.svg#chevron18"></use>
      </svg>
    </span>
  </div>
  <ul class="cui-expandable__body">
    <li class="cui-expandable__review-item">Another hidden item</li>
    <li class="cui-expandable__review-item">Another hidden item</li>
    <li class="cui-expandable__review-item">Another hidden item</li>
    <li class="cui-expandable__review-item">Another hidden item</li>
  </ul>
</div>

Styleguide Expandable.Default-Expandable
*/

.cui-expandable {
  border-bottom: 1px solid #ddd;
  display: block;
  padding-bottom: 10px;
  position: relative;
  width: 100%;

  &--wizard {
    @media screen and (min-width: 701px) {
      border-bottom: 0;
    }

    .step-indicator {
      align-items: center;
      border-bottom: 0;
      display: flex;
      font-size: em(16);
      padding: 0;
      @media screen and (min-width: 701px) {
        font-size: em(24);
      }
    }
  }



  &__title {
    color: $expandable-title-color;
    cursor: pointer;
    display: block;
    padding: 10px 0 0;

    &--flex {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }

    .cui-expandable__title-left,
    .cui-expandable__title-middle,
    .cui-expandable__title-end {
      flex: 1;
    }

    .cui-expandable__title-left {
      @extend %h5--bold;
    }

    .cui-expandable__title-middle {
      color: $secondary-font-color;
      display: flex;
      justify-content: center;
      font-size: em(14);
    }  

    .cui-expandable__title-end {
      display: flex;
      justify-content: flex-end;
    }

  }

  &__title--error {
    color: red;
    font-weight: 700;
  }

  &__review-item {
    color: $expandable-review-item-color;
    font-size: $expandable-review-item-font-size;
    line-height: .75;
    margin: $expandable-review-item-margin;
  }

  &:last-of-type {
    margin-bottom: 20px;
  }

  &__body {
    @extend .cui-ul;
    display: block;
    overflow: hidden;
    width: 100%;
  }

  &.expanded {
    >.cui-expandable__body {
    }

    >.cui-expandable__title>.chevron {
      transform: rotate(90deg);
    }
  }
}

.cui-expandable__body-pane {
  background-color: $tertiary-background;
  display: flex;
  justify-content: space-between;
  padding: em(60);
  position: relative;
  width: 90%;
  margin-left: 5%;

  .cui-expandable__body-close {
    position: absolute;
    top: 5px;
    right: 12px;

    .cui-icon {
      height: 14px;
      width: 14px;
    }
  }

  .cui-expandable__pane-title {
    @extend %h4--bold;
    color: $secondary-font-color;
    margin-bottom: em(35);
  }

  .cui-expandable__pane-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .cui-expandable__pane-content {
    @extend %h5--bold;
    color: $secondary-font-color;

    .cui-checkbox__label:before {
      background-color: transparent;
      border: 2px solid $secondary-font-color;
    }

    .cui-checkbox:checked + .cui-checkbox__label:before {
      box-shadow: none;
    }
  }

  .cui-expandable__pane-content-item {
    display: flex;
    justify-content: space-between;
  }
}

.cui-expandable__review-button {
  @extend .cui-link;
  cursor:pointer;
}

.cui-expandable__review-input {
  @extend .cui-input;
  display: inline-block;
  font-size: 1em;
  height: auto;
  margin: -6px 0 -6px 0;
  padding: 0 2px;
  width: 300px;
}

.cui-expandable__review-select {
  @extend .cui-select;
  display: inline-block;
  font-size: 1em;
  height: auto;
  margin: -6px 0 -6px 0;
  padding: 0 2px;
  width: 300px;
}

.cui-expandable__body {
  padding-left: 20px;
  padding-right: 20px;
}

.cui-expandable__edit-button{
  cursor: pointer;
  left: 0;
  position: absolute;
  top: 0;
  transform: translate(-100%,0px);

  .cui-expandable__edit-icon {
    fill: #333;
    height: 30px;
    width: 30px;
  }

  &:hover{
    .cui-expandable__edit-icon {
        fill: $cui-primary-colors--medium-light;
    }
  }

}

  .steps-bar {
    background-color: $step-indicator-middle-bar-color;
    height: $step-indicator-middle-bar-size;
    position: absolute;
    top: 68%;
    z-index: 0;

    &--no-js {
      width: 100%;
    }

    .steps-bar-fill {
      background-color: $step-indicator-middle-bar-color--visited;
      display: inline-block;
      height: $step-indicator-middle-bar-size;
      position: absolute;
    }
  }


.indicator-container {
  border-bottom: $step-indicator-border-bottom;
  display: flex;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  margin-bottom: $step-indicator-margin-bottom;
  position: relative;


  &.small {
    & .step-indicator {
      display: none;
      pointer-events: none;

      &.active {
        border: 0;
        display:inline-block;
        margin:0 auto;
        text-align: center;
        color: #bbb;
      }
    }
  }
}

.indicator-container--icons {
  border-bottom: 0;

  &.small {
    
    .steps-bar {
      display: none;
    }

    & .step-indicator {
      display: none;
      pointer-events: none;

      &.active {
        color: $step-indicator-title-color--small-active;
      }

      &.visited {
        color: $step-indicator-title-color--small-visited;
      }
    }
  }
}

.cui-expandable__body--alt-bg {
  background-color: $secondary-background;
  margin: 0 auto em(24);
  padding: em(20) em(22) em(40) em(50);
  position: relative;
  width: 80%;

  @media screen and (max-width: 700px) {
    margin-left: -10px;
    width: calc(100% + 24px);
  }

  &:before {
    color: #fff;
    content: '▼';
    font-size: 1em;
    transform: scaleY(1) scaleX(1.5);
    top: -5px;
    left: 60px;
    position: absolute;
  }

  .cui-checkbox__label {
    color: $secondary-font-color;
    display: flex;
    font-size: em(18);
    width: 100%;

    &:after {
      margin-left: auto;
    }
  }

  .cui-expandable__body-row {
    @extend %flex-row;

    @media screen and (max-width: 700px) {
      flex-direction: column;
    }
  }

  .cui-expandable__body-col {
    flex: 1;
    margin-right: em(20);

    @media screen and (max-width: 700px) {
      margin-bottom: em(8);
    }

    &--small {
      font-size: em(14);
    }

  }

  .cui-expandable__body-col:last-of-type {
    margin-right: 0;
  }

  .cui-expandable__body-header {
    @extend %h5;
    @extend %bold;
    color: $cui-greyscale--dark;
    margin-bottom: em(25, 20);

    @media screen and (max-width: 700px) {
      margin-bottom: em(10, 20);
    }
  }

  .cui-expandable__link {
    @extend .cui-link;
    @extend %bold;
    font-size: em(18);
  }

  .cui-expandable__close {
    @extend .cui-link;
    color: $cui-primary-colors--medium-dark;
    height: em(16);
    margin-left: auto;
    position: absolute;
    right: 15px;
    top: 15px;
    width: em(16);
  }

  .cui-expandable__links-container {
    line-height: 2;
  }
}

