/*
Field Value

Markup:
<div class="cui-field-val">
  <span class="cui-field-val__field">Field: </span>
  <span class="cui-field-val__val">value</span>
</div>

Styleguide Forms.Field-Value
*/

.cui-field-val {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  letter-spacing: $letter-spacing-xl;
  line-height: 1.4;
  margin-bottom: em(5);

  &--stack {
    flex-direction: column;
  }

  &__field {
    @extend %h5;
    @extend %h5--bold;
    color: $cui-primary-colors--dark;
    margin-right: em(5);
    margin-bottom: em(5);
  }

  &__val {
    font-size: em(18);
    margin-bottom: em(5);
  }

}