// Footer
//
// Styles for global footer
// 
// Styleguide Footer

/*
Default Footer

Markup: ../../hbs/footer.hbs

Styleguide Footer.Default
*/

.cui-footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: em(30);
  padding-top: em(20);

  @media screen and (max-width: 701px) {
    flex-direction: column;
  }
}

.cui-footer {
  &__col {
    padding: 0 em(10);

    &:first-of-type {

      @media screen and (min-width: 701px) {
        padding: 0 em(10) 0 0;
      }
    }

    &:last-of-type {
      order: -1;

      @media screen and (min-width: 701px) {
        padding: 0 0 0 em(10);
        order: 1;
      }
    }
  }

  &__link {

    @extend .cui-link;
  }
}
