// Navigation
//
// Styles for navigation features
// 
// Styleguide Navigation

/*
Global Navigation

Markup: ../../hbs/global-nav.hbs

Styleguide Navigation.Global Navigation
*/

.cui-top-nav__container {
  display: flex;
  flex-direction: column;
  min-height: 80px;
}

.cui-top-nav {
  align-items: center;
  display: none;
  flex-direction: row;
  flex-grow: 2;
  justify-content: center;

  @media screen and (min-width: 992px) {
    display: flex;
  }
}

.cui-top-nav__nav-list {
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
  flex-grow: 2;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.cui-top-nav__section {
  padding: 0 em(10);

  a {
    color: $cui-greyscale--medium;
    position: relative;
    text-decoration: none;
  }

  ul {

    @extend .cui-ul;
  }
}

.cui-top-nav__section.cui-top-nav__section--active {
  > a {
    color: $cui-primary-colors--medium;
    border: 2px solid $cui-primary-colors--medium;
    border-radius: 30px;
    padding: 0.3em 0.7em;
    transition: background-color 0.3s;
    z-index: 1;

    &:hover {
      color: white;
      background-color: $cui-primary-colors--medium;
    }
  }
}

.cui-search {
  border: 2px solid #eee;
  border-radius: 4px;
  height: 2em;
  padding-left: 5px;
  margin-right: 1em;
}

.cui-search__dropdown {
  min-width: em(200);
  position: absolute;

  a {

    @extend .cui-link;
    color: inherit;
    text-decoration: none;
  }

  .cui-search__search-filter-items {
    max-height: 0;
  }

  ul {
    background-color: #f9f9f9;
    max-height: 0;
    list-style-type: none;
    overflow: hidden;
    padding-left: 0;
    margin: 0;
    transition: max-height 0.2s ease-out;
  }

  .cui-search__filter-title {

    @extend %cui-list__section;
    background-color: #eee;
    color: $cui-greyscale--medium;
    font-weight: 600;
    margin: em(10) 0 0;
    padding: em(10) em(5);
  }

  .cui-search__filter.expanded .cui-search__search-filter-items {
    max-height: em(1000);
    transition: max-height 0.2s ease-in;
  }

  .cui-search__search-filter-item {
    margin: em(10) 0 0 em(10);
  }
}

.cui-top-nav__sub-nav-dropdown {
  min-width: em(200);
  position: absolute;

  .cui-top-nav__sub-nav-items {
    max-height: 0;
  }

  ul {
    background-color: #f9f9f9;
    max-height: 0;
    list-style-type: none;
    overflow: hidden;
    padding-left: 0;
    margin: 0;
    transition: max-height 0.2s ease-out;
  }

  .cui-top-nav__sub-title {

    @extend %cui-list__section;
    background-color: #eee;
    color: $cui-greyscale--medium;
    font-weight: 600;
    margin: em(10) 0 0;
    padding: em(10) em(5);

    &.expanded + .cui-top-nav__sub-nav-items {
      max-height: em(1000);
      transition: max-height 0.2s ease-in;
    }
  }

  .cui-top-nav__sub-nav-item {
    margin: em(10) 0 0 em(10);
  }
}

.cui-search:focus + .cui-search__dropdown,
.cui-search-container:hover .cui-search__dropdown,
.cui-top-nav__section:hover .cui-top-nav__sub-nav-dropdown {
  > ul {
    max-height: em(1000);
    transition: max-height 0.2s ease-in;
  }
}
