// Header
//
// Styles for common header options
// 
// Styleguide Header
/*
Default Header

Markup: ../../hbs/header.hbs 

Styleguide Header.Default
*/

// the code below is depricated, will be removed with next minor release

.cui-header {
  background: $header-background-color;
  padding: $header-padding;

  &__search {

    @extend .cui-icon;
    color: white;
    cursor: pointer;
    fill: white;
  }

  &__user {
    flex-grow: 1;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &--avatar {
      background-size: contain;
      border-radius: 50%;
      cursor: pointer;
      height: 50px;
      width: 50px;
    }

    &--name {
      color: #aaa;
      cursor: pointer;
      margin-right: 15px;

      @media all and (max-width: 600px) {
        display: none;
      }
    }

    @media all and (max-width: 600px) {
      > .cui-chevron--left {
        display: none;
      }
    }
  }

  &__logo {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
  }

  &__top {
    align-items: center;
    display: flex;
    height: 80px;
    padding: $header-top-padding;
    border-bottom: 1px solid #eee;
  }

  &__bottom {
    align-items: center;
    display: flex;
    height: 60px;
    padding: $header-bottom-padding;
  }
}

// the code above is depricated, will be removed with next minor release

.cui-header {
  background: $header-background-color;
  padding: $header-padding;
  position: relative;

  &__search {

    @extend .cui-icon;
    color: white;
    cursor: pointer;
    fill: white;
  }

  &__user {

    @extend .cui-profile;
  }

  &__user-avatar {

    @extend .cui-profile__user-avatar;
  }

  &__user-name {

    @extend .cui-profile__user-name;
  }

  @media all and (max-width: 600px) {
    > .cui-chevron--left {
      display: none;
    }
  }

  &__svg-logo-container {
    align-items: center;
    display: flex;
    height: 80px;
    justify-content: center;
    position: absolute;
    top: 0;
    width: calc(100% - 60px);
  }

  &__svg-logo {
    height: $header-svg-logo-height;
    position: relative;
    width: $header-svg-logo-width;
  }

  &__top {
    align-items: center;
    display: flex;
    height: 80px;
    padding: $header-top-padding;
    border-bottom: $header-bottom-divider;
  }

  &__bottom {
    align-items: center;
    display: flex;
    height: 60px;
    padding: $header-bottom-padding;
  }

  &__chevron {

    @extend .cui-chevron;

    &:after {

      @extend .cui-chevron:after;
    }

    &--left {

      @extend .cui-chevron--left;
    }

    &--right {

      @extend .cui-chevron--right;
    }

    &--top {

      @extend .cui-chevron--top;
    }

    &--bottom {

      @extend .cui-chevron--bottom;
    }
  }

  &__user-menu {

    @extend .cui-profile__user-menu;
  }

  &__menu-greet {

    @extend .cui-profile__menu-greet;
  }

  &__search-container {
    cursor: pointer;
    display: flex;
  }

  &__search-icon {
    height: 25px;
    fill: #fff;
  }
}




