/*
Default Loader

Markup:
<div class="cui-loading__container">
  <div class="cui-loading"></div>
</div>

Styleguide Loading.Default
*/

%center {
  position:absolute;
  top:50%;
  left:50%;
}

.cui-loading__container {
  background:white;
  bottom:0;
  display: flex;
  left:0;
  pointer-events:none;
  position:absolute;
  right:0;
  top:0;
  transition:all 200ms ease-in-out;
  z-index:10;

  &--center {
    align-content: center;
    justify-content: center;
  }
}

.cui-loading {
  animation: spin 1s infinite linear;
  background-color: #fff;
  border: $loader-large-border-width solid $loader-circle-color;
  border-radius: em(40);
  border-top-color: $loader-spinner-color;
  height: $loader-large-height-and-width;
  width: $loader-large-height-and-width;
}

.cui-loading--medium {
  @extend .cui-loading;
  border-width: $loader-medium-border-width; 
  height: $loader-medium-height-and-width;
  width: $loader-medium-height-and-width;
}

.cui-loading--center {
  left: calc(50% - (#{$loader-large-height-and-width} / 2 + #{$loader-large-border-width}));
  position: absolute;
  top: calc(50% - (#{$loader-large-height-and-width} / 2 + #{$loader-large-border-width}));
  z-index:10;
}

.cui-loading--medium-ctr {
  @extend .cui-loading--medium;
  left: calc(50% - (#{$loader-medium-height-and-width} / 2 + #{$loader-medium-border-width}));
  position: absolute;
  top: calc(50% - (#{$loader-medium-height-and-width} / 2 + #{$loader-medium-border-width}));
}

.cui-loading--button {
  @extend .cui-loading;
  background: transparent;
  border-width: em(3, $button-font-size); 
  height: 21px;
  left: $loader-button-center-horizontal;
  position: absolute;
  top: $loader-button-center-vertical;
  width: 21px;
}

@keyframes spin { 
  100% { 
    transform: rotate(360deg); 
  } 
}
