/*
Loading

Markup:
<div class="cui-loading"></div>

Styleguide Blocks.Loading
*/

.cui-loading__container {
  background:white;
  bottom:0;
  left:0;
  pointer-events:none;
  position:absolute;
  right:0;
  top:0;
  transition:all 200ms ease-in-out;
  z-index:10;
}

.cui-loading {
  animation: spin 1s infinite linear;
  background-color: #fff;
  border: em(10) solid $cui-primary-colors--medium-light;
  border-radius: em(40);
  border-top-color: $cui-primary-colors--light;
  height: em(80);
  width: em(80);
}

@keyframes spin { 
  100% { 
    transform: rotate(360deg); 
  } 
}
