/*
Media Object 

Markup:
<div class="cui-media">
  <div class="cui-media__image-container">
    <svg xmlns="http://www.w3.org/2000/svg" class="cui-media__image">
      <use xlink:href="bower_components/cui-icons/dist/icons/icons-out.svg#user"></use>
    </svg>
  </div>
  <div class="cui-media__body">
    <h3 class="cui-media__title">Media Object title</h3>
    <p class="cui-media__content">Media Object body</p>
  </div>
</div>

Styleguide Blocks.Media-Object
*/

.cui-media {
  align-items: center;
  display: flex;
  padding: em(16) 0;

  &--border {
    border-bottom: 1px solid $cui-primary-colors--light;
  }
}

.cui-media__image-container {
  display: flex;
  flex: .25;
  justify-content: center;
}

.cui-media__body {
  flex: .75;

  &--full {
    @media screen and (min-width: 701px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex: 1;
    }
  }
}

.cui-media__title {
  font-family: 'lato-black', sans-serif;
  font-size: em(17);
  letter-spacing: $letter-spacing-lg;
}

.cui-media__image {
  border: $media-object-border;
  border-radius: $media-object-border-radius;
  height: em(50);
  width: em(50);
}

.cui-media__content {
  letter-spacing: $letter-spacing-lg;
  display: flex;
  margin: 0;
  padding: $media-object-content-padding;

  &--small {
    font-size: em(14);
    margin: 0;
    padding: 0;
  }
}

.cui-media__link {
  @extend .cui-link;
  cursor: pointer;
  text-decoration: underline;
}

.cui-media__status {
  display: flex;
  flex: .25;
  justify-content: flex-end;
  padding-top: 5px;
}
  
.cui-media--vertical {
  @media screen and (max-width: 700px) {
    justify-content: center;
    text-align: center;

    .cui-media__content {
      display: inline-block;
    }
  }
}