/*
Media Object

Modifiers for Media Object

.cui-media--centered       - Centered Media Object

Markup:
<div class="cui-media {{modifier_class}}">
  <div class="cui-media__image-container">
    <svg xmlns="http://www.w3.org/2000/svg" class="cui-media__image">
      <use xlink:href="bower_components/cui-icons/dist/icons/icons-out.svg#user"></use>
    </svg>
  </div>
  <div class="cui-media__body">
    <h3 class="cui-media__title">Media Object title</h3>
    <p class="cui-media__content">Media Object body</p>
  </div>
</div>

Styleguide Blocks.Media-Object
*/

.cui-media {
  align-items: center;
  display: flex;
  padding: em(16) 0;

  &--border {
    border-bottom: 1px solid $cui-primary-colors--light;
  }

  /* Centered Media Object */
  &--centered {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    width: 240px;

    @media screen and (max-width: 700px) {
      flex-direction: row;
      text-align: left;
      width: auto;

      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        max-width: inherit;
      }
    }

    .cui-media__title {
      @extend %bold;
      font-size: em(24);
      letter-spacing: 3px;
    }

    .cui-media__image-container {
      justify-content: center;

      svg{
        margin: 0 auto;
      }

      a{
        width: 100%;
      }
    }

    .cui-media__body {
      align-items: center;
      display: flex;
      flex-direction: column;
      margin-top: em(6);

      @media screen and (max-width: 700px) {
        align-items: flex-start;
      }
    }

    .cui-media__image {
      height: em(70);
      width: em(70);

      @media screen and (max-width: 700px) {
        height: em(50);
        margin-top: em(10);
        width: em(50);
      }
    }

    .cui-media__content{
      display: inline-flex;
      padding: 0;
    }

    .cui-status {
      @media screen and (max-width: 700px) {
        font-size: em(15);
      }
    }
  }
}

.cui-media__image-container {
  display: flex;
  flex: .25;
  justify-content: center;
  position: relative;

  @media screen and (min-width: 701px) {
    flex: .1 auto;
    justify-content: flex-start;
  }
}

.cui-media__body {
  flex: .75 auto;

  &--full {

    @media screen and (min-width: 701px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex: 1;
    }
  }
}

.cui-media__title,
.cui-media__content {
  @media screen and (min-width: 701px) {
    flex: 1 auto;
  }
}

.cui-status {
  @media screen and (min-width: 701px) {
    align-content: center;
    display: flex;
    flex: .2;
    justify-content: flex-end;
  }
}

.cui-media__title {
  font-family: 'lato-black', sans-serif;
  font-size: em(17);
  letter-spacing: $letter-spacing-lg;
}

.cui-media__image {
  border: $media-object-border;
  border-radius: $media-object-border-radius;
  height: em(50);
  width: em(50);
  position: relative;
}

.cui-media__content {
  letter-spacing: $letter-spacing-lg;
  display: flex;
  margin: 0;
  padding: $media-object-content-padding;

  &--small {
    font-size: em(14);
    margin: 0;
    padding: 0;
  }

  &--dark {
    @extend %bold;
    color: $secondary-font-color;
  }
}

.cui-media__link {
  @extend .cui-link;
  cursor: pointer;
  text-decoration: underline;
}

.cui-media__status {
  display: flex;
  flex: .25;
  justify-content: flex-end;
  padding-top: 5px;
}

.cui-media--vertical {
  @media screen and (max-width: 700px) {
    justify-content: center;
    text-align: center;

    .cui-media__content {
      display: inline-block;
    }
  }
}

// modifier for desktop table row to mobile media object styling
.cui-media--tr {
  position: relative;

  @media screen and (max-width: 700px) {
    padding: em(7) em(40) em(7) 0;
  }

  .cui-media__body {
    @media screen and (max-width: 700px) {
      line-height: 1;
    }
  }

  .cui-media__image-container {
    flex: .09;

    @media screen and (max-width: 700px) {
      margin-right: em(36);
    }
  }

  .cui-media__title {
    color: $cui-primary-colors--medium;
    padding-bottom: em(5);
    transition: color .15s linear;
  }

  .cui-media__image-container {
    @media screen and (max-width: 700px) {
      flex: .1;
      margin-right: em(36);
    }
  }

  &:hover {

    .cui-media__title {
      color: $cui-primary-colors--medium-dark;
      transition: color .15s linear;
    }

    .cui-media__app-launch-icon {
      opacity: 1;
      transition: opacity.15s linear;
    }
  }

  .cui-status {
    align-self: center;
    font-size: em(14);

    @media screen and (max-width: 700px) {
      font-size: em(12);
      letter-spacing: 1.5px;
    }
  }

  .cui-media__content {
  align-self: center;

    @media screen and (max-width: 700px) {
      padding: 0;
    }
  }

  .cui-media__title-container {
    align-items: center;
    display: flex;
    flex: 1;
  }

  .cui-media__app-launch {
    order: 1;
    margin-left: auto;
    padding: em(20);
    position: absolute;
    top: calc(50% - 32px);
    right: 0;

    @media screen and (min-width: 701px) {
      margin-right: em(30);
      order: 0;
      margin-left: 0;
      min-width: 10px;
      position: relative;
    }

    &--suspended,
    &--pending {
      visibility: hidden;
    }
  }

  .cui-media__app-launch-icon {
    color: $cui-primary-colors--dark;
    height: em(20);
    opacity: .3;
    transition: opacity.15s linear;

    @media screen and (min-width: 701px) {
      height: em(14);
    }
  }

}