.cui-off-canvas {
  @extend .cui-primary-colors--medium;
}

.cui-off-canvas__list {
  list-style-type: none;
  padding: 0;
}

.cui-off-canvas__list-item {
  @extend .cui-primary-colors--medium-dark;
  display: block;
  margin: 10px 0;
  cursor: pointer;
  a {
    color: white;
    text-decoration: none;
  }
}

.cui-off-canvas__option {
  @extend .cui-primary-colors--medium-dark;
  color:white;
  cursor: pointer;
  display:block;
  margin:10px 0;
  padding: 10px 20px;

  &:hover {
    color: orange;
  }

  &:first-of-type {
    margin-top: 30px;
  }
}

.cui-off-canvas__list-item-link {
  display: block;
  min-height: em(30);
  padding-left: em(30);
  padding-top: em(10);
}

.cui-off-canvas__list--child {
  @extend .cui-primary-colors--medium;
  @extend .cui-ul;
  padding-left: em(40);
  padding-top: em(10);
}

.cui-off-canvas__list-item--child {
  font-weight: 500;
  padding: em(5px) 0;
}
