.off-canvas {
  @extend .cui-primary-colors--medium;
}

.off-canvas__list {
  list-style-type: none;
  padding: 0;
}

.off-canvas__list-item {
  @extend .cui-primary-colors--medium-dark;
  display: block;
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
  a {
    color: white;
    text-decoration: none;
  }
}

.off-canvas__option {
  @extend .cui-primary-colors--medium-dark;
  color:white;
  cursor: pointer;
  display:block;
  margin:10px 0;
  padding: 10px 20px;

  &:hover {
    color: orange;
  }

  &:first-of-type {
    margin-top: 30px;
  }
}