/*
Profile

Markup: 
<div class="cui-profile" >
  <span class="cui-profile__user-name">Bill Murray</span>
  <div class="cui-profile__user-avatar"></div>
  <div id="cui-profile__popup" class="cui-profile__user-menu">
    <div class="cui-profile__menu-item">
      <a href="" class="cui-profile__link">My Profile</a>
      <svg class="cui-profile__link-icon" viewBox="-2 -2 52 52">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="bower_components/cui-icons/dist/icons/icons-out.svg#profile" class="svg"></use>
      </svg>
    </div>
    <div class="cui-profile__menu-item">
      <a href="" class="cui-profile__link">Log Out</a>
      <svg class="cui-profile__link-icon" viewBox="-2 -2 52 52">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="bower_components/cui-icons/dist/icons/icons-out.svg#log-out" class="svg"></use>
      </svg>
    </div>
  </div>
  <svg class="cui-profile__chevron" viewBox="0 0 216 146">
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="bower_components/cui-icons/dist/font-awesome/font-awesome-out.svg#arrow459" class="svg"></use>
  </svg>
</div>

Styleguide Blocks.Profile
*/

.cui-chevron {
  margin-right: 15px;
  width: 0;
  height: 0;
  position: relative;
  
  &:after {
    content:'';
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border-right:8px solid #AAA;
    border-top:8px solid transparent;
    border-bottom:8px solid transparent;
  }

  &--left {
    @extend .cui-chevron;
    cursor: pointer;
  }

  &--right {
    @extend .cui-chevron;
    transform: rotate(-90deg);
  }

  &--top {
    @extend .cui-chevron;
    transform: rotate(180deg);
  }

  &--bottom {
    @extend .cui-chevron;
  }
}

.cui-avatar,
.cui-profile {
  position: relative;
  width: 250px;

  // the code below is depricated, will be removed with next minor release

  &--popup {
    background: white;
    border-radius: 2px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .16);
    opacity: 0;
    position: absolute;
    right: 0;
    transform: translate(0, 19px);
    transition: all 80ms ease-in-out;
    width: 250px;
    pointer-events: none;

    &.active {
      opacity:1;
      pointer-events: auto;
    }

    hr {
      border:0;
      border-top:1px solid rgba(0,0,0,0.15);
    }

    // &::before {
    //   color: white;
    //   content: '▼';
    //   font-size: em(16);
    //   position: absolute;
    //   text-shadow: 2px 2px rgba(0, 0, 0, .09);
    //   top: 0;
    //   transform: rotate(180deg) translate(20px, 15px);
    //   right: 0;
    // }

    &__greet {
      display:block;
      color: #AAA;
      font-size: em(15);
      padding: 3px 10px;
      cursor: default;

      .small{
        font-size:13px;
      }
    }

    &__option {
      color: #AAA;
      display: block;
      font-size: em(14);
      padding: 3px 10px;
      
      &:hover {
        color:#888;
      }

      &.logout {
        color: lighten(#386895,20%);
        text-align: right;
        
        &:hover {
          color: #386895;
        }
      }
    }
  }

  // the code above is depricated, will be removed with next minor release

  &__user {
    align-items:center;
    display:flex;
    flex-grow: 1;
    height: 50px;
    justify-content:flex-end;
  }

  &__user-avatar {
    background-size: contain;
    border-radius: 50%;
    cursor: pointer;
    height: 50px;
    position: relative;
    width: 50px;
  }

  &__user-name {
    color: #fff;
    cursor: pointer;
    flex: 1;
    font-size: em(18);
    letter-spacing: 0.9px;
    margin: 0 15px;
    text-transform: capitalize;

    @media all and (max-width:600px){
      display: none;
    }
  }

  &__user-menu {
    background: $secondary-background;
    opacity: 0;
    padding: 10px 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    transform: translate(0, 80px);
    transition: all 80ms ease-in-out;
    width: 250px;

    &.active {
      opacity:1;
      pointer-events: auto;
    }

    hr {
      border:0;
      border-top:1px solid rgba(0,0,0,0.15);
    }

    // &::before {
    //   color: white;
    //   content: '▼';
    //   font-size: em(16);
    //   position: absolute;
    //   text-shadow: 2px 2px rgba(0, 0, 0, .09);
    //   top: 0;
    //   transform: rotate(180deg) translate(20px, 15px);
    //   right: 0;
    // }
  }

  &__menu-greet {
    display:block;
    color: #AAA;
    font-size: em(15);
    padding: 3px 10px;
    cursor: default;

    .small{
      font-size:13px;
    }
  }

  &__option {
    color: #AAA;
    display: block;
    font-size: em(14);
    padding: 3px 10px;
    
    &:hover {
      color:#888;
    }

    &.logout {
      color: lighten(#386895,20%);
      text-align: right;
      
      &:hover {
        color: #386895;
      }
    }
  }

  &__svg-logo {
    height: 45px;
    width: 200px;
  }

  &__chevron {
    @extend .cui-chevron;

    &:after {
      @extend .cui-chevron:after;
    }

    &--left {
      @extend .cui-chevron--left;
    }
    &--right {
      @extend .cui-chevron--right;
    }
    &--top {
      @extend .cui-chevron--top;
    }
    &--bottom {
      @extend .cui-chevron--bottom;
    }
  }
}

.cui-profile {
  align-items:center;
  display:flex;
  height: 80px;
  justify-content: space-around;
  width: 250px;
  transition: all 80ms ease-in-out;

  .cui-profile__menu-item {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 30px 12px 24px;
    cursor: pointer;

    &:first-of-type {
      padding: 9px 30px 12px 24px;
    }
  }

  .cui-profile__link {
    @extend %cui-link;
    font-size: em(14);

    &:hover {
      cursor: pointer;
    }
  }

  .cui-profile__link-icon {
    color: $cui-primary-colors--medium-dark;
    height: 15px;
    width: 15px;
  }

  .cui-profile__chevron {
    @extend .cui-icon;
    fill: #fff;
  }

  &--active {
    background-color: $secondary-background;

    .cui-profile__user-name {
      color: $secondary-font-color;
    }
  
    .cui-profile__user-menu {
      opacity: 1;
    }

    .cui-profile__chevron {
      @extend .cui-icon;
      color: $secondary-font-color;
      fill: $secondary-font-color;
    }
  }
}



