/*
Step Indicator

Markup:
<indicator-container class="indicator-container">
  <span class="step-indicator active">Example Step 1</span>
  <span class="step-indicator">Example Step 2</span>
  <span class="step-indicator">Example Step 3</span>
  <span class="step-indicator">Example Step 4</span>
</indicator-container>

Styleguide Blocks.Step-Indicator
*/

/*
Step Indicator With Icons

Markup:
<indicator-container class="indicator-container">
<span class="step-indicator ng-binding ng-scope active">Step 1
  <div class="icon-container">
    <div class="icon">
      <cui-icon cui-svg-icon="cui:skyscraper" class="ng-isolate-scope">
        <svg xmlns="http://www.w3.org/2000/svg" class="cui-icon-rotate" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 48" style="pointer-events: none; display: block;">
          <use xlink:href="public/img/icons/icons-out.svg#skyscraper"></use>
        </svg>
      </cui-icon>
    </div>
  </div>
</span>
<span class="step-indicator ng-binding ng-scope">Step 1
  <div class="icon-container">
    <div class="icon">
      <cui-icon cui-svg-icon="cui:skyscraper" class="ng-isolate-scope">
        <svg xmlns="http://www.w3.org/2000/svg" class="cui-icon-rotate" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 48" style="pointer-events: none; display: block;">
          <use xlink:href="public/img/icons/icons-out.svg#user"></use>
        </svg>
      </cui-icon>
    </div>
  </div>
</span>
<span class="step-indicator ng-binding ng-scope">Step 1
  <div class="icon-container">
    <div class="icon">
      <cui-icon cui-svg-icon="cui:skyscraper" class="ng-isolate-scope">
        <svg xmlns="http://www.w3.org/2000/svg" class="cui-icon-rotate" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 48" style="pointer-events: none; display: block;">
          <use xlink:href="public/img/icons/icons-out.svg#division"></use>
        </svg>
      </cui-icon>
    </div>
  </div>
</span>
<span class="step-indicator ng-binding ng-scope">Step 1
  <div class="icon-container">
    <div class="icon">
      <cui-icon cui-svg-icon="cui:skyscraper" class="ng-isolate-scope">
        <svg xmlns="http://www.w3.org/2000/svg" class="cui-icon-rotate" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 48" style="pointer-events: none; display: block;">
          <use xlink:href="public/img/icons/icons-out.svg#review"></use>
        </svg>
      </cui-icon>
    </div>
  </div>
</span>
</indicator-container>

Styleguide Blocks.Step-Indicator-With-Icons
*/