/*
Step Indicator

Markup: ../../hbs/step-indicator.hbs

Styleguide Wizard.Step-Indicator
*/

.step-indicator {
  color: $step-indicator-title-color;
  display: inline-block;
  margin-bottom: -2px;
  padding: 10px 0;
  position: relative;
  text-align: center;
  text-transform: capitalize;
  white-space: nowrap;

  .icon-container {

    @media screen and (min-width: 701px) {
      margin-top: em(10);
    }
  }

  .icon {
    background: #fff;
    border-radius: 50%;
    border: em(2) solid #ccc;
    height: em(50);
    position: relative;
    margin: 0 auto;
    width: em(50);
    z-index: 1;
  }

  &.active {
    color: $step-indicator-title-color--active;

    @media screen and (min-width: 701px) {
      border-bottom: $step-indicator-icon-underline--active;
    }

    .icon {
      border: $step-indicator-icon-border--active;
    }

    .cui-icon-rotate,
    .icon-svg {
      fill: $step-indicator-icon-color--active;
    }
  }

  &.visited {
    color: $step-indicator-title-color--visited;

    .icon {
      border: $step-indicator-icon-border--visited;
    }

    .cui-icon-rotate,
    .icon-svg {
      fill: $step-indicator-title-color--visited;
    }
  }
}

.indicator-container--icons {
  & .step-indicator {
    &.active {
      border-bottom: 0;
    }
  }
}

.cui-icon-rotate,
.icon-svg {
  fill: $step-indicator-icon-color;
  height: $step-indicator-icon-height;
  width: $step-indicator-icon-width;

  @media screen and (min-width: 700px) {
    margin: em(10) auto 0;
  }
}

step,
.step {
  display: none;

  &.active {
    display: block;
  }
}

.cui-wizard[mobile-stack] {
  .desktop-element,
  .indicator-container {

    @media screen and (max-width: 700px) {
      display: none;
    }
  }

  .mobile-element,
  .mobile-element {

    @media screen and (min-width: 701px) {
      display: none;
    }
  }
}

.cui-steps,
.steps {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/*
Step Indicator With Icons

Markup:
<div class="indicator-container indicator-container--icons">
  <div class="steps-bar steps-bar--no-js"><div class="steps-bar-fill"></div></div>
  <div class="cui-steps">
    <span class="step-indicator ng-binding ng-scope active">Step 1
      <div class="icon-container">
        <div class="icon">
          <div cui-svg-icon="cui:skyscraper" class="ng-isolate-scope">
            <svg xmlns="http://www.w3.org/2000/svg" class="cui-icon-rotate" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 48">
              <use xlink:href="node_modules/cui-icons/dist/icons/icons-out.svg#skyscraper"></use>
            </svg>
          </div>
        </div>
      </div>
    </span>
    <span class="step-indicator ng-binding ng-scope">Step 2
      <div class="icon-container">
        <div class="icon">
          <div cui-svg-icon="cui:skyscraper" class="ng-isolate-scope">
            <svg xmlns="http://www.w3.org/2000/svg" class="cui-icon-rotate" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 48">
              <use xlink:href="node_modules/cui-icons/dist/icons/icons-out.svg#user"></use>
            </svg>
          </div>
        </div>
      </div>
    </span>
    <span class="step-indicator ng-binding ng-scope">Step 3
      <div class="icon-container">
        <div class="icon">
          <div cui-svg-icon="cui:skyscraper" class="ng-isolate-scope">
            <svg xmlns="http://www.w3.org/2000/svg" class="cui-icon-rotate" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 48">
              <use xlink:href="node_modules/cui-icons/dist/icons/icons-out.svg#division"></use>
            </svg>
          </div>
        </div>
      </div>
    </span>
    <span class="step-indicator ng-binding ng-scope">Step 4
      <div class="icon-container">
        <div class="icon">
          <div cui-svg-icon="cui:skyscraper" class="ng-isolate-scope">
            <svg xmlns="http://www.w3.org/2000/svg" class="cui-icon-rotate" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 48">
              <use xlink:href="node_modules/cui-icons/dist/icons/icons-out.svg#review"></use>
            </svg>
          </div>
        </div>
      </div>
    </span>
  </div>
</div>

Styleguide Wizard.Step-Indicator-With-Icons
*/

.cui-form--mobile-steps {

  @extend .cui-tile;

  & .cui-form__title {

    @extend %h6;

    @extend %h6--bold;
    background: #fff;
    color: $cui-greyscale--medium-light;
    left: -9999px;
    position: absolute;

    @media screen and (min-width: 700px) {
      left: 0;
      position: relative;
    }
  }

  & .cui-form__body {

    @extend .cui-tile__body;
    padding: 0;

    @media screen and (min-width: 700px) {
      padding: em(30) em(50);
    }
  }

  .cui-expandable.mobile-element {
    padding-bottom: 0;
  }

  .mobile-element.cui-expandable:first-of-type {
    border-bottom: 1px solid $base-font-color;
    border-top: 1px solid $base-font-color;
  }

  .mobile-element.cui-expandable {
    border-bottom: 1px solid $base-font-color;
  }

  .mobile-element.cui-expandable.expanded > .cui-expandable__body {
    padding-top: em(40);
    padding-bottom: em(40);
  }

  .mobile-element > .cui-expandable__title {
    background-color: #f3f3f3;
    height: em(120);
    padding-left: em(20);
    padding-top: 0;
    position: relative;

    &::before {
      background-color: #d0d0d0;
      content: '';
      left: em(40);
      height: 100%;
      position: absolute;
      width: 1px;
    }

    .step-indicator__title {
      color: #d0d0d0;
      font-size: em(24);
      padding-left: em(25, 24);
    }
  }

  .mobile-element.expanded > .cui-expandable__title {
    background-color: #fff;
    border-bottom: 1px solid $base-font-color;

    &::before {
      background-color: #979797;
    }

    .step-indicator__title {
      color: $mobile-step-title--expanded;
    }
  }

  .mobile-element.visited > .cui-expandable__title {
    background-color: #d9eaee;

    &::before {
      background-color: #979797;
    }

    .step-indicator__title {
      color: #6d6d6d;
    }
  }

  .cui-expandable:first-of-type {
    &.mobile-element > .cui-expandable__title {
      &::before {
        background-color: #979797;
        content: '';
        left: em(40);
        height: 100%;
        position: absolute;
        width: 1px;
      }

      &:nth-of-type(1)::before {
        bottom: 0;
        height: 50%;
      }

      .step-indicator__title {
        font-size: em(24);
        padding-left: em(25, 24);
      }
    }
  }

  .cui-expandable:last-of-type {
    &.mobile-element > .cui-expandable__title {
      &:nth-of-type(1)::before {
        top: 0;
        height: 50%;
      }
    }
  }

  .mobile-element.visited .icon {
    border: 2px solid #6d6d6d;
  }

  .mobile-element .icon {
    background: #fff;
    border: 2px solid #d0d0d0;
    border-radius: 50%;
    height: em(40);
    position: relative;
    margin: 0 auto;
    width: em(40);
    z-index: 1;
  }

  .mobile-element .icon-container {
    order: -1;
    text-align: center;
  }

  .mobile-element.expanded .icon {
    border: 2px solid $mobile-step-icon--expanded;
  }

  .mobile-element.visited .cui-icon-rotate,
  .mobile-element.visited .icon-svg {
    fill: #6d6d6d;
  }

  .mobile-element.expanded .cui-icon-rotate,
  .mobile-element.expanded .icon-svg {
    fill: $mobile-step-icon--expanded;
  }

  .mobile-element .cui-icon-rotate,
  .mobile-element .icon-svg {
    height: em(20);
    margin: em(8) auto 0;
    width: em(20);
  }

  .mobile-element .cui-expandable__title {
    align-items: center;
    display: flex;
  }

  .mobile-element .cui-expandable__title--alt-layout {
    justify-content: space-between;
  }
}

.cui-expandable__title--wizard {

  @media screen and (min-width: 701px) {
    display: none;
  }
}
