/*
Tabs

Markup:
<div class="cui-tabs">
  <ul class="cui-tabs__nav">
    <li class="cui-tabs__tab-container"><a class="cui-tabs__tab cui-tabs__tab--active" data-pane="tab1">Active Tab</a></li>
    <li class="cui-tabs__tab-container"><a class="cui-tabs__tab" data-pane="tab2">Tab</a></li>
    <li class="cui-tabs__tab-container"><a class="cui-tabs__tab" data-pane="tab3">Tab</a></li>
    <li class="cui-tabs__tab-container"><a class="cui-tabs__tab" data-pane="tab4">Tab</a></li>
  </ul>
  <div class="cui-tabs__content">
    <div id="tab1" class="cui-tabs__tab-pane cui-tabs__tab-pane--active"><p>Tab 1 Content</p></div>
    <div id="tab2" class="cui-tabs__tab-pane"><p>Tab 2 Content</p></div>
    <div id="tab3" class="cui-tabs__tab-pane"><p>Tab 3 Content</p></div>
    <div id="tab4" class="cui-tabs__tab-pane"><p>Tab 4 Content</p></div>
  </div>
</div>

Styleguide Blocks.Tabs
*/

.cui-tabs {
  display: flex;
  flex-direction: column;
}

.cui-tabs__nav {
  border-bottom: $tabs-border-bottom;
  display: flex;
  flex: 1;
}

.cui-tabs__tab-container {
  border-left: $tabs-divider;
  display: flex;
  flex: 1;
  justify-content: center;
  padding-right: 3px;
}

.cui-tabs__tab-container:first-of-type {
  border-left: none;

  .cui-tabs__tab--active {
    box-shadow: 1px -2px 2px #eee;
  }
}

.cui-tabs__tab-container:last-of-type {
  padding-right: 0;

  .cui-tabs__tab--active {
    box-shadow: -1px -2px 2px #eee;
  }
}

.cui-tabs__tab {
  align-items: center;
  background-color: $tabs-background-color;
  color: $tabs-font-color;
  cursor: pointer;
  display: flex;
  flex: 1;
  font-size: em(15);
  justify-content: center;
  padding: $tabs-padding;
  text-align: center;
  text-decoration: none;

  &--active {
    background-color: $tabs-background-color--active;
    box-shadow: 0px -2px 2px 1px #eee;
    color: $tabs-font-color--active;
    margin-bottom: -1px;
  }

  @media screen and (min-width: 701px) {
    font-size: 1em;
  }
}

.cui-tabs__tab-pane {
  display: none;

  &--active {
    display: flex;
    flex: 1;
    padding: $tabs-content-padding;
  }

}