/*
Table Row


Markup:
<div class="table-row">
  <div class="table-row__left">
    <h2 class="table-row__title">Timing Control</h2>
  </div>
  <div class="table-row__middle">
    <p class="table-row__text">Accounting</p>
  </div>
  <div class="table-row__right">
    <p class="table-row__text table-row__text--right cui-status--pending">Pending</p>
  </div>
</div>
<div class="table-row">
  <div class="table-row__left table-row__left--stacked">
    <h2 class="table-row__title  table-row__title--green">Lake Glenbury</h2>
    <p class="table-row__text table-row__text--left table-row__text--stacked">granted: 10.11.13</p>
  </div>
  <div class="table-row__middle">
    <p class="table-row__text">Accounting</p>
  </div>
  <div class="table-row__right table-row__right--stacked">
    <p class="table-row__text table-row__text--stacked cui-status--pending">Pending</p>
    <p class="table-row__text table-row__text--stacked table-row__text--right table-row__text--green">Review</p>  
  </div>
</div>
<div class="table-row">
  <div class="table-row__left">
    <h2 class="table-row__title">Cora Murray</h2>
  </div>
  <div class="table-row__middle table-row__middle">
    <p class="table-row__text">CoraMora</p>
  </div>
  <div class="table-row__middle table-row__middle">
    <p class="table-row__text">09.03.2011</p>
  </div>
  <div class="table-row__right">
    <p class="cui-status--locked">locked</p>
  </div>
</div>
<div class="table-row">
  <div class="table-row__left table-row__left--stacked">
    <h2 class="table-row__title">Balistreriberg</h2>
    <p class="table-row__text table-row__text--stacked"><span class="table-row__text--header">Requested: </span>09.04.14</p>
    <p class="table-row__text table-row__text--stacked"><span class="table-row__text--header">Approved: </span>Yes</p>
    <p class="table-row__text table-row__text--stacked"><span class="table-row__text--header">Decision Date: </span>09.04.14</p>
    <p class="table-row__text table-row__text--stacked"><span class="table-row__text--header">Evaluator: </span>Bobby Jones</p>
  </div>
</div>
<div class="table-row">
  <div class="table-row__left">
    <h2 class="table-row__title">Accounting</h2>
  </div>
  <div class="table-row__right">
      <svg class="logo-holder table-row__text table-row__text--right table-row__text--icon" viewBox="0 0 216 146" xmlns:xlink="http://www.w3.org/1999/xlink">
        <use xLink:href="bower_components/cui-icons/dist/font-awesome/font-awesome-out.svg#angle2"></use>
      </svg>
  </div>
</div>
<div class="table-row">
  <div class="table-row__left">
    <h2 class="table-row__title">East Petermouth</h2>
  </div>
  <div class="table-row__middle">
    <p class="table-row__text">active</p>
  </div>
  <div class="table-row__right">
      <input class="cui-checkbox" type="checkbox" id="option-1"/><label class="cui-checkbox__label" for="option-1"></label>  
  </div>
</div>
<div class="table-row">
  <div class="table-row__left">
    <h2 class="table-row__title">West Blake</h2>
  </div>
  <div class="table-row__middle">
    <p class="table-row__text">requested 01.06.2016</p>
  </div>
  <div class="table-row__right table-row__multi">
    <div class="cui-radio__container">
        <input class="cui-radio cui-radio--approve" type="radio" name="radio-choice" id="radio-approve" value="choice-2" />
        <label class="cui-radio__label" for="radio-approve"></label>
    </div>
      <div class="cui-radio__container">
        <input class="cui-radio cui-radio--deny" type="radio" name="radio-choice" id="radio-deny" value="choice-2" />
        <label class="cui-radio__label" for="radio-deny"></label>
    </div>
  </div>
</div>
<div class="table-row">
  <div class="table-row__left">
    <h2 class="table-row__title">Marsha Applby</h2>
  </div>
  <div class="table-row__middle table-row__middle">
    <p class="table-row__text">CoraMora</p>
  </div>
  <div class="table-row__middle table-row__middle">
    <p class="table-row__text">NorthWest</p>
  </div>
  <div class="table-row__right table-row__multi">
    <p class="table-row__text cui-status--active">active</p>
    <p class="table-row__text table-row__text--green">edit</p>
  </div>
</div>
<div class="table-row">
  <div class="table-row__left table-row__left--stacked">
    <h2 class="table-row__title  table-row__title--green">Lake Glenbury</h2>
    <p class="table-row__text table-row__text--left table-row__text--stacked">Security Admin | 3 More</p>
  </div>
  <div class="table-row__middle table-row__middle">
    <p class="table-row__text">CoraMora</p>
  </div>
  <div class="table-row__middle table-row__middle">
    <p class="table-row__text">NorthWest</p>
  </div>
  <div class="table-row__right table-row__multi">
    <p class="table-row__text cui-status--locked">locked</p>
    <p class="table-row__text table-row__text--green">edit</p> 
  </div>
</div>
<div class="table-row">
  <div class="table-row__left">
    <h2 class="table-row__title">Marsha Applby</h2>
  </div>
  <div class="table-row__middle table-row__middle">
    <p class="table-row__text">marshanator</p>
  </div>
  <div class="table-row__middle">
    <p class="table-row__text">Trompberg</p>
  </div>
  <div class="table-row__middle table-row__middle">
    <p class="table-row__text">Nell Little</p>
  </div>
  <div class="table-row__right">
    <p class="table-row__text cui-status--locked">locked</p>
  </div>
</div>
<div class="table-row">
  <div class="table-row__left">
    <h2 class="table-row__title">Stephen Silva</h2>
  </div>
  <div class="table-row__middle">
    <p class="table-row__text">CoraMora</p>
  </div>
  <div class="table-row__middle">
    <p class="table-row__text">Ethelview</p>
  </div>
  <div class="table-row__middle">
    <p class="table-row__text table-row__text--green">Nina Vasquez</p>
  </div>
  <div class="table-row__middle">
    <p class="table-row__text">apps(23)</p>
  </div>
  <div class="table-row__right">
    <p class="table-row__text cui-status--suspended">suspended</p>
  </div>
</div>

Styleguide Blocks.Table-Row
*/


.table-row{
  border-top: 1px solid $cui-greyscale--x-light;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 10px 0;

  &:last-child{
    border-width: 1px 0;
  }

  &:hover{
    cursor: pointer;

    .table-row__title{
      color: $cui-v2-colors-dark;
    }
  }

  &__left,
  &__middle,
  &__right{
    align-items: center;
    display: flex;
    flex-flow: row;
    /* width: 33%; */

    &--stacked{
      flex-flow: row wrap;
    }
  }


  &__left{
      padding-left: 90px;
      position: relative;

      &::before{
        background: url('http://www.fillmurray.com/140/100') no-repeat;
        background-position: -26px -5px;
        background-size: 179%;
        border-radius: 50%;
        content: "";
        display: inline-block;
        height: 50px;
        left: 0;
        position: absolute;
        top: 0;
        width: 50px;
      }

      &--stacked{
        display: block;
      }
  }

  &__middle{
    text-align: left;
  }

  &__right{
    text-align: right;
  }

  &__multi{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 15%;

  }

  .table-row__title{
      color: $cui-primary-colors--dark;
      font-size: 1.5em;
      font-weight: bold;
      line-height: 1.5em;
      width: 100%;
  }

  .table-row__text{
    margin: 1em 0;
    width: 100%;

    &--left{
      text-align: left;
    }

    &--right{
      text-align: right;
    }

    &--middle{
      test-align: center;
    }

    &--green{
      color: $cui-v2-colors-dark;
    }

    &--header{
      color: #000;
      font-weight: bold;
    }

    &--stacked{
      margin: 0;
    }

    &--icon{
      fill: rgb(155,155,155);
      margin: 0;
    }
  }

    .logo-holder{
      height: 50px;
      width: 75px;
    }
}