/*
Default Tile

Markup: ../../hbs/tile.hbs

Styleguide Tile.Default
*/

.cui-tile {
  border-radius: $container-radius;

  &__body {
    background: white;
    border: $container-body-border-size solid $container-body-border-color;
    border-radius: $container-body-radius--mobile;
    border-top: 0;
    margin: 0 auto;
    max-width: $container-body-max-width;
    padding: $container-padding--mobile;
    position: relative;

    @media screen and (min-width: 701px) {
      border-radius: $container-body-radius;
      padding: $container-padding;
    }
  }

  &__title {

    @extend %h6;

    align-items: center;
    background: $container-title-bg-color;
    border: $container-body-border-size solid $container-body-border-color;
    border-radius: $container-body-radius--mobile;
    color: #000;
    display: flex;
    height: em(50);
    padding: $container-title-padding;
    text-align: $container-title-text-align;

    @media screen and (min-width: 701px) {
      border-radius: $container-title-radius;
    }
  }

  @media all and (max-width: 600px) {
    &__body {
      padding: $container-padding-small;
    }
  }
}

.cui-tile--headless {
  border: 1px solid $cui-primary-colors--light;
  display: flex;
  flex-direction: column;
  flex: 0.5;
  justify-content: space-between;
  padding: 0 em(30) em(30);
}
