/*
Tile

Markup: 
<div class="cui-tile">
  <div class="cui-tile__title">Tile Title</div>
  <div class="cui-tile__body">
    <p>Tile Body</p>
  </div>
</div>

Styleguide Blocks.Tile
*/

.cui-tile {
  border-radius: $container-radius;

  &__body {
    background: white;
    border: $container-body-border-size solid $container-body-border-color;
    border-radius: $container-body-radius--mobile;
    border-top: 0;
    margin: 0 auto;
    max-width: $container-body-max-width;
    padding: $container-padding--mobile;
    position: relative;

    @media screen and (min-width: 701px) {
      border-radius: $container-body-radius;
      padding: $container-padding;
    }
  }

  &__title {
    @extend %h6;
    align-items: center;
    background: $container-title-bg-color;
    border: $container-body-border-size solid $container-body-border-color;
    border-radius: $container-body-radius--mobile;
    color: $cui-primary-colors--medium;
    display: flex;
    height: em(50);
    padding: $container-title-padding;
    text-align: $container-title-text-align;

    @media screen and (min-width: 701px) {
      border-radius: $container-title-radius;
    }
  }

  &__title--bg-light {
    background: $container-title-bg-color--light;
  }

  @media all and (max-width:600px){

    &__body {
      padding:$container-padding-small;
    }
  }
}

