/*
CUI Wizard

Markup: <div class="cui-wizard">
  <div class="cui-wizard__title ">A description of this form</div>
  <div class="cui-wizard__body">
    <cui-wizard class="cui-wizard__contents" step="1" clickable-indicators="" minimum-padding="30">
      <indicator-container class="cui-wizard__indicator-container"><span class="step-indicator active" style="cursor: pointer;">Step One</span><span class="step-indicator style="cursor: pointer;">Step 2</span></indicator-container>
      <step title="Organization info" class="active">
        <form name="organization" novalidate="" class="">
          <input type="text" name="field-1" class="cui-input cui-input--full" disabled="" placeholder="field 1">
          <select name="field-2" class="cui-input cui-select cui-input--full" required="required">
            <option value="" disabled="" selected="" class="">field 2</option>
          </select>
          <input type="text" name="field-3" class="cui-input cui-input--half" placeholder="field 3" required="required">
          <input type="text" class="cui-input cui-input--half--right" placeholder="field 4">
          <select  class="cui-input cui-select cui-input--half">
            <option value="" disabled="" selected="" class="">field 5</option>
          </select>
          <select class="cui-input cui-select cui-input--half--right">
            <option value="" disabled="" selected="" class="">field 6</option>
          </select>
          <select class="cui-input cui-select cui-input--half">
            <option value="" disabled="" selected="" class="">field 7</option>
          </select>
          <input type="text" class="cui-input cui-input--half--right" placeholder="field 8">
          <div class="cui-wizard__controls">
            <button class="cui-wizard__next">Button</button>
            <button class="cui-wizard__skip">cui-skip-for-now &gt;&gt;</button>
          </div>
        </form>
      </step>
    </cui-wizard>
  </div>
</div>

Styleguide 2.1
*/

.cui-wizard {
  border-radius: $container-radius;
  margin: 0 auto;
  max-width: 1000px;
  width: 80%;

  &__body {
    background: white;
    border-radius: 0 0 $container-radius $container-radius;
    margin: 0 auto;
    max-width: $container-body-max-width;
    padding: $container-padding;
  }

  &__title {
    background-color: $cui-primary-colors--medium-light;
    border-radius: $container-radius $container-radius 0 0;
    color: white;
    padding: $container-title-padding;
    text-align: center;
  }

  @media all and (max-width:600px){
    width:90%;

    &__body {
      padding:$container-padding-small;
    }
  }
  &__contents {
    display: block;
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
  }

  &__controls {
    text-align: right;
  }

  &__next {
    @extend .cui-button;

    &--error {
      @extend .cui-button--error
    }
  }

  &__previous {
    background: #fff;
    border: 0;
    color: $container-title-background;
    cursor: pointer;
    font-size: 12px;
    margin-right: 20px;

    &.active {
      display: inline-block;
    }
  }

  &__skip {
    background: #fff;
    border:0;
    color: $container-title-background;
    cursor: pointer;
    font-size: 12px;
    display:none;
    margin-left:20px;

    &--show{
      display:inline-block;
    }
  }

  &__indicator-container {
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    &.small {
      &>.step-indicator {
        display: none;
        pointer-events: none;

        &.active {
          border: 0;
          display:inline-block;
          margin:0 auto;
          text-align: center;
          color: #bbb;
        }
      }
    }
  }

  & .step-indicator {
    color: #bbb;
    margin-bottom: -2px;
    padding: 10px 0;
    white-space: nowrap;
    display: inline-block;
    &.active {
      border-bottom: 6px solid $cui-primary-colors--medium-light;;
      color: #333;
    }
  }

  &__step-contents {
    display: none;

    &.active {
      display: block;
    }
  }

}

.cui-error {
  color: red;
  font-size: 14px;
  margin-top: -15px;
  padding: $input-error-padding;
  position: relative;

  &--half {
    @extend .cui-error;
    width: 48%;

    @media all and (max-width:700px){
      width: 100%;    
    }
  }

  &__password {
    display: none;
    border: 1px solid #DDD;
    box-shadow: 0 0 3px 3px rgba(0,0,0,0.09);
    padding: 10px 20px 20px;
    position: absolute;
    left: 100%;
    top: 0;
    width: 300px;
    border-radius: 7px;
    z-index: 2;
    background: white;
    transform: translate(10px, -30%);
    color: #888;

    &::before {
      content: '▼';
      font-size:16px;
      color: white;
      text-shadow: 2px 2px rgba(0,0,0,0.09);
      position: absolute;
      top: 30%;
      left: 0;
      transform: rotate(90deg) translate(7px,15px);
    }
  }
}

.cui-expandable {
  border-bottom: 1px solid #ddd;
  display: block;
  padding-bottom: 10px;
  width: 100%;

  &__title {
    color: #333;
    cursor: pointer;
    display: block;
    padding: 10px 0 0;
  }

  &__paragraph {
    color: #666;
    font-size: 14px;
    line-height: .75;
  }

  &:last-of-type {
    margin-bottom: 20px;
  }

  &__body {
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: all 200ms ease-in-out;
  }

  &[expanded="true"] {
    >.cui-expandable__body {
      max-height: 500px;
    }

    >.cui-expandable__title>.chevron {
      transform: rotate(90deg);
    }
  }
}

.chevron {
  color: $container-title-background;
  float: right;
  margin-right: 20px;
  transition: all 200ms ease-in-out;
}




