
/*
Backgrounds

Markup: ../../hbs/background.hbs

Styleguide Colors.Backgrounds
*/

.cui-background {
  background-color: $primary-background;
}

.cui-background--secondary {
  background-color: $cui-primary-colors--light;
}

.cui-background--gradient {
  background: $cui-background-gradient;
}
