/* 
Buttons

Styles for button elements

:focus                      - Focus styling
:hover                      - Hover styling
:active                     - Selected styling
.cui-button--error          - Error styling 
.cui-button--error:active   - Error selected styling

Markup: <button class="cui-button {{modifier_class}}">Button</button>

Styleguide Elements.Buttons
*/

.cui-button {
  align-items: center;
  background-color: $cui-primary-colors--medium-light;
  border-radius: em(4);
  border: 0;
  color: #fff;
  display: flex;
  font-size: em(12);
  height: em(37);
  justify-content: center;
  width: 160px;

  &:focus,
  &.pseudo-class-focus,
  &:hover,
  &.pseudo-class-hover {
    box-shadow: 0 0 3px $cui-greyscale--medium-light, 0 0 7px $cui-greyscale--medium-light;
    outline: 0;
  }

  &:active,
  &.pseudo-class-active {
    background-color: $cui-primary-colors--medium-dark;
  }

  &--error {
    background-color: #dbdbdb;
    cursor: default;
    &:active,
    &.pseudo-class-active {
      background-color: $cui-greyscale--medium-light;
    }
  }
}
