/* 
Buttons

Styles for button elements

:focus                      - Focus styling
:hover                      - Hover styling
:active                     - Selected styling
.cui-button--error          - Error styling 
.cui-button--error:active   - Error selected styling

Markup: <button class="cui-button {{modifier_class}}">Button</button>

Styleguide Elements.Buttons
*/

.cui-button {
  align-items: center;
  background-color: $button-color;
  border-radius: $button-border-radius;
  border: 0;
  color: #fff;
  display: inline-flex;
  font-size: $button-font-size;
  height: em(37,$button-font-size);
  justify-content: center;
  width: em(160,$button-font-size);

  &:focus,
  &.pseudo-class-focus,
  &:hover,
  &.pseudo-class-hover {
    box-shadow: 0 0 3px $cui-greyscale--medium-light, 0 0 7px $cui-greyscale--medium-light;
    outline: 0;
  }

  &:active,
  &.pseudo-class-active {
    background-color: $button-color--active;
  }

  &--error {
    background-color: $button-color--error;
    cursor: default;
    &:active,
    &.pseudo-class-active {
      background-color: $button-color--error-hover;
    }
  }
}
