// Forms
//
// Styles for form elements
// 
// Styleguide 1.3

/*
Inputs

:disabled               - Styling for a disabled input field
:focus                  - Styling when user clicks in a field to enter input
.cui-input--error       - Styling after user has entered input that is invalid
.cui-input--valid       - Styling after user has entered input that is valid

Markup: <input type="text" class="cui-input {{modifier_class}} cui-input--full"/>

Styleguide 1.3.1
*/

.cui-input {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border: 1px solid $cui-input-border;
  box-sizing: border-box;
  font-size: 14px;
  height: 56px;
  margin-bottom: 20px;
  padding: $input-padding;
  position: relative;
  
  &.pseudo-class-focus,
  &:focus {
    border: 1px solid $cui-input-border--focus;
    outline: 0;
  }

  &--display {
    border: 0;
    height: 14px;
    margin: -3px 0 -3px 1px;
    padding: 0;
    width: 200px;
  }

  &--full {
    width: 100%;
  }

  &--half {
    width: 48%;
  }

  &--half--right {
    float: right;
    width: 48%;
  }

  &--error,
  &--error:focus,
  &.ng-touched.ng-invalid,
  &.ng-touched.ng-invalid:focus {
    border: 1px solid $cui-input-border--invalid;
  }

  &[type="password"] {
    &:focus {
      + .cui-error__password {
        display: inline-block;
      }
    }
  }
  &.ng-touched.ng-valid,
  &--valid {
    border: 1px solid $cui-input-border--valid;
  }

  @media all and (max-width:700px){
   &--half {
      width: 100%;
    }

    &--half--right {
      float: none;
      width: 100%;
    }
  }
}

/*
Dropdown

Markup: <select class="cui-input cui-input--full cui-select">
            <option value="helloo"></option>
            <option value="hellloooo"></option>
            <option value="hellllooooooo"></option>
            <option value="HELLO"></option>
          </select>

Styleguide 1.3.2
*/
select.cui-select {
  background: url('img/select-arrows.svg') right 10px center no-repeat;
  background-size: 17px 31px;
  -webkit-background-size: 17px 31px;
  border: 1px solid $cui-input-border;
  padding-right: 10px;
  -webkit-appearance: none;
  -webkit-border-radius: 0;

  &:focus {
    outline: 0;
  }

}