// Forms
//
// Styles for form elements
// 
// Styleguide Elements.Forms

/*
Inputs

:disabled               - Styling for a disabled input field
:focus                  - Styling when user clicks in a field to enter input
.cui-input--error       - Styling after user has entered input that is invalid
.cui-input--valid       - Styling after user has entered input that is valid

Markup: <input type="text" class="cui-input {{modifier_class}} cui-input--full"/>

Styleguide Elements.Forms.Input
*/

.cui-input {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border: 1px solid $cui-input-border;
  box-sizing: border-box;
  font-size: em(14);
  height: 56px;
  margin: 5px 0 20px;
  padding: $input-padding;
  position: relative;
  width: 100%;
  
  &.pseudo-class-focus,
  &:focus {
    border: 1px solid $cui-input-border--focus;
    outline: 0;
  }

  &--display {
    border: 0;
    height: 14px;
    margin: -3px 0 -3px 1px;
    padding: 0;
    width: 200px;
  }

  &--half {
    width: 48%;
  }

  &--error,
  &--error:focus,
  &.ng-touched.ng-invalid,
  &.ng-touched.ng-invalid:focus {
    border: 1px solid $cui-input-border--invalid;
  }

  &__password-holder {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    position: relative;
  }

  &[type="password"] {
    &:focus {
      + .cui-error__password {
        display: inline-block;
      }
    }
  }

  &.ng-touched.ng-valid,
  &--valid {
    border: 1px solid $cui-input-border--valid;
  }

  @media all and (max-width:700px){
   &--half {
      width: 100%;
    }
  }
}

/*
Email tags field

Markup:
<div name="emails" class="cui-tags">
  <div class="cui-tags__host" tabindex="-1">
    <div class="cui-tags__container">
      <ul class="cui-tags__tag-list">
        <li class="cui-tags__tag"><span>example@gmail.com</span> 
          <a class="cui-tags__remove">×</a>
        </li>
      </ul>
      <input class="cui-tags__input" autocomplete="off" type="text" placeholder="" spellcheck="true"><span class="cui-tags__registered-tag" style="visibility: hidden; width: auto; white-space: pre; display: none;">example@gmail.com</span>
    </div> 
  </div>
</div>

Styleguide Elements.Forms.Tags
*/

.cui-tags-input, 
.cui-tags {
  display: block;
  font-size: em(14);

  &.ng-touched {
    &.ng-invalid {
      & .tags,
      & .cui-tags__container {
        border:1px solid $cui-input-border--invalid;
      }
    }
    &.ng-valid {
      & .tags,
      & .cui-tags__container {
        border:1px solid $cui-input-border--valid;
      }
    }
  }
}

.cui-tags-input *, .cui-tags-input *:before, .cui-tags-input *:after { 
  box-sizing: border-box;
}

.cui-tags-input .host,
.cui-tags__host {
  margin-bottom: 20px;
  margin-top: 5px;
  position: relative;
}

.cui-tags-input .host:active,
.cui-tags__host:active {
  outline: 0;
}

.cui-tags-input .tags,
.cui-tags__container {
  background-color: $cui-greyscale--light;
  border: 1px solid $cui-input-border;
  cursor: text;
  min-height: 56px;
  overflow: hidden;
  padding: $input-padding;
  word-wrap: break-word;
}

.cui-tags-input .tags.focused,
.cui-tags__container--focused {
  border: 1px solid $cui-input-border--focus;
  outline: 0;
}

.cui-tags-input .tags .tag-list,
.cui-tags__tag-list {
  list-style-type: none;
  margin: 0 10px 0 0;
  padding: 4px 20px 0 0;
}

.cui-tags-input .tags .tag-item,
.cui-tags__tag {
  background: $cui-primary-colors--medium-light;
  border-radius: 3px;
  color: $cui-greyscale--light;
  display: inline-block;
  float: left;
  margin: 0 10px 5px 0;
  padding: 5px;
}

.cui-tags-input .tags .tag-item.selected,
.cui-tags__tag--selected {
  background: $cui-secondary-colors--dark;
}

.cui-tags-input .tags .tag-item .remove-button,
.cui-tags__remove {
  background: none;
  border: none;
  color: $cui-greyscale--light;
  cursor: pointer;
  font: bold 16px Arial, sans-serif;
  margin: 0 0 0 5px;
  padding: 0;
  vertical-align: middle;
}

.cui-tags-input .tags .tag-item .remove-button:active,
.cui-tags__remove:active {
  color: $cui-secondary-colors--medium-light;
}

.cui-tags-input .tags .input,
.cui-tags__input {
  border: 0;
  float: left;
  outline: 0;
  padding: 5px 0 0 0;
  width:3px;
}

.cui-tags-input .tags .input.invalid-tag,
.cui-tags__input--invalid {
  color: $cui-secondary-colors--dark;
}

.cui-tags-input .tags .input::-ms-clear,
.cui-tags__input::-ms-clear {
  display: none;
}

.cui-tags-input[disabled] .host:focus,
.cui-tags__host:focus {
  outline: 0;
}

.cui-tags-input[disabled] .tags,
.cui-tags[disabled] .cui-tags__container {
  background-color: #eee;
  cursor: default;
}

.cui-tags-input[disabled] .tags .tag-item,
.cui-tags[disabled] .cui-tags__tag {
  background: linear-gradient(to bottom, #f0f9ff 0%, rgba(203, 235, 255, 0.75) 47%, rgba(161, 219, 255, 0.62) 100%);
  opacity: 0.65;
}

.cui-tags-input[disabled] .tags .tag-item .remove-button,
.cui-tags[disabled] .cui-tags__remove {
  cursor: default;
}

.cui-tags-input[disabled] .tags .tag-item .remove-button:active,
.cui-tags[disabled] .cui-tags__remove {
  color: #585858;
}

.cui-tags-input[disabled] .tags .input,
.cui-tags[disabled] .cui-tags__input {
  background-color: #eee;
  cursor: default;
}

.cui-tags-input .autocomplete,
.cui-tags .autocomplete {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 5px;
  padding: 5px 0;
  position: absolute;
  width: 100%;
  z-index: 999;
}

.cui-tags-input .autocomplete .suggestion-list,
.cui-tags .autocomplete .suggestion-list {
  list-style-type: none;
  margin: 0;
  max-height: 280px;
  overflow-y: auto;
  padding: 0;
  position: relative;
}

.cui-tags-input .autocomplete .suggestion-item,
.cui-tags .autocomplete .suggestion-item {
  background-color: #fff;
  color: #000;
  cursor: pointer;
  overflow: hidden;
  padding: 5px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cui-tags-input .autocomplete .suggestion-item.selected,
.cui-tags .autocomplete .suggestion-item.selected {
  background-color: #0097cf;
  color: #fff;
}

.cui-tags-input .autocomplete .suggestion-item.selected em,
.cui-tags .autocomplete .suggestion-item.selected em {
  background-color: #0097cf;
  color: #fff;
}

.cui-tags-input .autocomplete .suggestion-item em,
.cui-tags .autocomplete .suggestion-item em {
  background-color: #fff;
  color: #000;
}

/*
Dropdown

Markup: 
<select class="cui-input cui-input--full cui-select">
  <option value="helloo"></option>
  <option value="hellloooo"></option>
  <option value="hellllooooooo"></option>
  <option value="HELLO"></option>
</select>

Styleguide Elements.Forms.Dropdown
*/

select.cui-select {
  @extend .cui-input;
  appearance: none;
  background: url('img/select-arrows.svg') right 10px center no-repeat;
  background-size: 17px 31px;
  border-radius: 0;
  padding-right: 10px;

  &:focus {
    outline: 0;
  }

}

/*
Radio

Markup:
<fieldset class="cui-radio__fieldset">
  <legend class="cui-radio__legend">Accessible description for radio button collection</legend>
  <div class="cui-radio__container">
    <input class="cui-radio" type="radio" name="radio-choice" id="radio-choice-1" value="choice-1" />
    <label class="cui-radio__label" for="radio-choice-1">Choice 1</label>
  </div>
  <div class="cui-radio__container">
    <input class="cui-radio" type="radio" name="radio-choice" id="radio-choice-2" value="choice-2" />
    <label class="cui-radio__label" for="radio-choice-2">Choice 2</label>
  </div>
</fieldset>

Styleguide Elements.Forms.Radio
*/

.cui-radio {
  @extend %cui-sr-only;

  &__legend {
    left: -999em;
    position: absolute;
  }

  &__fieldset {
    border: 0;
    display: flex;
  }

  &__container {
    height: em(30);
  }

  &__label:before {
    border: 1px solid $cui-greyscale--medium-light;
    border-radius: 50%;
    content: "\00a0";
    display: inline-block;
    height: rem(20px);
    margin: em(-2px) em(8px) 0 0;
    vertical-align: top;
    width: rem(20px);
  }

  &:focus + .cui-radio__label.cui-radio__label:before {
    box-shadow: inset 0 0 0 2px #fff,0 0 7px $cui-greyscale--medium-light;
  }

  &:checked + .cui-radio__label:before {
    @extend .cui-primary-colors--medium-light;
    box-shadow: inset 0 0 0 2px #fff;
  }

}

/*
Checkbox

Markup:
<fieldset>
  <legend class="cui-checkbox__legend">Accessible description for checkbox collection</legend>
  <ul class="cui-checkbox__group">
    <li class="cui-checkbox__container"><input class="cui-checkbox" type="checkbox" id="option-1"/><label class="cui-checkbox__label" for="option-1">Option 1</label></li>
    <li class="cui-checkbox__container"><input class="cui-checkbox" type="checkbox" id="option-2"/><label class="cui-checkbox__label" for="option-2">Option 2</label></li>
    <li class="cui-checkbox__container"><input class="cui-checkbox" type="checkbox" id="option-3"/><label class="cui-checkbox__label" for="option-3">Option 3</label></li>
    <li class="cui-checkbox__container"><input class="cui-checkbox" type="checkbox" id="option-4"/><label class="cui-checkbox__label" for="option-4">Option 4</label></li>
  </ul>
</fieldset>

Styleguide Elements.Forms.Checkbox
*/

.cui-checkbox {
  left: -999em;
  position: absolute;

  &__legend {
    @extend %cui-sr-only;
  }
  
  &__group {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-left: 0;
  }
  
  &__container {
    height: 40px;
  }
  
  &__label {
    cursor: pointer;
    
    &:before {
      background: white;
      border-radius: 0.3rem;
      border: 1px solid $cui-greyscale--medium-light;
      content: '\a0';
      display: inline-block;
      height: 1.8rem;
      line-height: 1.4;
      margin-right: .6em;
      text-indent: .15em;
      vertical-align: .2em;
      width: 1.8rem;
    }
  }
  
  &:focus + .cui-checkbox__label:before {
    box-shadow: 0 0 7px $cui-greyscale--medium-light;
  }
  
  &:checked + .cui-checkbox__label:before {
    @extend .cui-primary-colors--medium-light;
    box-shadow: inset 0 0 0 2px #fff;
  }
}

/*
Switch

Markup:
<div class="cui-switch">
  <input class="cui-switch__input" name="switch" id="cui-switch-1" type="checkbox" /> 
  <label class="cui-switch__label" for="cui-switch-1">
    <div class="cui-switch__container">
      <span class="cui-switch__checked-message">Accept</span>
      <span class="cui-switch__unchecked-message">Don't Accept</span>
    </div>
  </label> 
</div>

Styleguide Elements.Forms.Switch
*/

.cui-switch {
  display: flex;
}

.cui-switch__input {
  @extend %cui-sr-only;
}

.cui-switch__container {
  align-items: center;
  border: 1px solid #6D6D6D;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  font-size: 12px;
  height: 50px;
  justify-content: space-around;
  width: 209px;
  
  span {
    margin-left: 15px;
  }
}

.cui-switch__checked-message {
  color: black;
  transition: color .5s ease-in-out;
  z-index: 10;
}

.cui-switch__unchecked-message {
  color: white;
  transition: color .5s ease-in-out;
  z-index: 10;
}

.cui-switch__label {
  content: '';
  position: relative;
}

.cui-switch__label:before {
  background-color: #00BD9C;
  border-radius: 0 6px 6px 0;
  content: '';
  cursor: pointer;
  height: calc(100% - 2px);
  position: absolute;
  right: 1px;
  top: 1px;
  transition: all .15s ease-in;
  width: 104px;
}

.cui-switch__label:after {
  background-color: red;
  border-radius: 6px 0 0 6px;
  content: '';
  cursor: pointer;
  height: calc(100% - 2px);
  position: absolute;
  right: 50%;
  top: 1px;
  transition: all .15s ease-in;
  width: 0;
}

.cui-switch__input:checked {

  & + .cui-switch__label:before {
    width:0;
    border-radius:0;
  }
  
   & + .cui-switch__label:after {
    width: 104px;
    border-radius: 6px 0 0 6px;
  }
  
  & + .cui-switch__label .cui-switch__unchecked-message {
    color: black;
    transition: color .5s;
  }
  
  & + .cui-switch__label .cui-switch__checked-message {
    color: white;
    transition: color .5s;
  }
}
