/*
Icons

Markup:
<svg xmlns="http://www.w3.org/2000/svg" class="cui-icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 51">
  <use class="cui-icon__ref" xlink:href="bower_components/cui-icons/dist/icons/icons-out.svg#close"></use>
</svg>

Styleguide Elements.Icons
*/

.cui-icon {
  fill: $cui-primary-colors--medium-light;
  height: 24px;
  width: 24px;

  &--link {
    cursor: pointer;
  }
}

.cui-icon__ref {
  color: $cui-primary-colors--medium-light;
}