// Icons
//
// Styles for common icons
// 
// Styleguide Icons

/*
CUI Icons

Markup:
<svg xmlns="http://www.w3.org/2000/svg" class="cui-icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 48 51">
  <use class="cui-icon__ref" xlink:href="node_modules/cui-icons/dist/icons/icons-out.svg#close"></use>
</svg>

Styleguide Icons.CUI
*/

.cui-icon {
  fill: $cui-primary-colors--medium-light;
  height: 24px;
  width: 24px;

  &--link {
    cursor: pointer;
  }

  &--light-grey {
    fill: #9B9B9B;
  }

  &--grey {
    fill: $cui-greyscale--medium;
  }

  &--dark {
    fill: $cui-greyscale--medium-dark;
  }

  &--black {
    fill: $cui-greyscale--dark;
  }

  &--folder {
    fill: $cui-greyscale--dark;
    height: 33px;
    width: 40px
  }
}

.cui-icon__ref {
  color: $cui-primary-colors--medium-light;
}

// Icon color helpers