// Logos
//
// Styles for logo elements
// 
// Styleguide Logos

/*
Primary Logo

Markup: ../../hbs/logo.hbs

Styleguide Logos.Logo
*/

.cui__svg-logo {
  height: 45px;
  position: relative;
  width: 200px;
}
