/*
Texts

Styles for text. Please refer to _vars.scss for variable values.

Styleguide Texts
*/

/*
Headers

Header styling is applied through the use of classes. Our recommended method for applying h1 styling is to @extend the %h1 placeholder selector in a class's CSS style declaration block and apply that class to your element.

Markup: ../../hbs/text.headers.hbs

Weight: -20

Styleguide Texts.Headers
*/

@include font-face('lato-normal', '/node_modules/lato-font/fonts/lato-normal/lato-normal', $file-formats: woff);

@include font-face('lato-black', '/node_modules/lato-font/fonts/lato-black/lato-black', $file-formats: woff);

@include font-face('lato-bold', '/node_modules/lato-font/fonts/lato-bold/lato-bold', $file-formats: woff);

body {
  color: $base-font-color;
  font-size: $base-font-size;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $cui-greyscale--dark;
  font-size: em(16);
  font-weight: 400;
  margin: 0;
}

.h1,
%h1 {
  font-size: $font-size-h1;
  font-weight: $font-header-weight;
}

.h2,
%h2 {
  font-size: $font-size-h2;
  font-weight: $font-header-weight;
}

.h3,
%h3 {
  font-size: $font-size-h3;
  font-weight: $font-header-weight;
}

.h4,
%h4 {
  font-size: $font-size-h4;
  font-weight: $font-header-weight;
}

.h5,
%h5 {
  font-size: $font-size-h5;
  font-weight: $font-header-weight;
}

.h6,
%h6 {
  font-size: $font-size-h6;
  font-weight: $font-header-weight;
}

.lato-black,
%lato-black {
  font-family: 'lato-black', sans-serif;
  font-weight: $font-header-weight;
  letter-spacing: 1.6px;
}

.bold,
%bold {
  font-family: 'lato-bold', sans-serif;
  font-weight: $font-header-weight;
  letter-spacing: 1.6px;
}

p {
  color: $base-font-color;
}

/*
Links

Also available as the placeholder selector %cui-link.

.cui-link--underline - Underline styling

Markup: ../../hbs/text.link.hbs

Styleguide Texts.Links
*/

.cui-link,
%cui-link {
  color: $link-color;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.15s ease-in-out;

  &--underline {
    text-decoration: underline;
  }

  &:hover {
    color: $link-color--hover;
    transition: color 0.15s ease-in-out;
  }
}

.cui-link--alt,
%cui-link--alt {
  color: $link-alt-color;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.15s ease-in-out;

  &:hover {
    color: $link-alt-color--hover;
    transition: color 0.15s ease-in-out;
  }
}

/*
Paragraphs

Default styling for paragraphs

Markup: ../../hbs/text.paragraph.hbs

Weight: -10

Styleguide Texts.Paragraphs
*/

/*
Unordered Lists

Browser styles are removed from lists in order to separate visual presentation from semantic meaning. If you want to restore the default styling, @extend the placeholder selector %cui-ul--default in your list's CSS style declaration block.

.cui-ul--default    - restores browser styling

Markup: ../../hbs/text.ul.hbs

Styleguide Texts.Unordered-Lists
*/

ul,
ol,
.cui-ul,
.cui-ol {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.cui-ul--default,
%cui-ul--default {
  list-style-type: disc;
  list-style-position: inside;
}

/*
Ordered Lists

Browser styles are removed from lists in order to separate visual presentation from semantic meaning. If you want to restore the default styling, @extend the placeholder selector %cui-ol--default in your list's CSS style declaration block.

.cui-ol--default    - restores browser styling

Markup: ../../hbs/text.ol.hbs

Styleguide Texts.Ordered-Lists
*/

.cui-ol--default,
%cui-ol--default {
  list-style-type: decimal;
  list-style-position: inside;
}

/*
Status

Markup: text.status.hbs

Styleguide Texts.Status
*/

%cui-status {
  font-family: 'lato-normal', sans-serif;

  @media screen and (min-width: 701px) {
    letter-spacing: $letter-spacing-xs;
  }
}

.cui-status {
  &--active {

    @extend %cui-status;

    color: $status--active;
  }

  &--pending {

    @extend %cui-status;

    color: $status--pending;
  }

  &--suspended {

    @extend %cui-status;

    color: $status--suspended;
  }

  &--locked {

    @extend %cui-status;

    color: $status--locked;
  }
}

