/*
Texts

Styles for text. Please refer to _vars.scss for variable values.

Styleguide Elements.Texts
*/

/*
Headers

Header styling is applied through the use of classes. Our recommended method for applying h1 styling is to @extend the %h1 placeholder selector in a class's CSS style declaration block and apply that class to your element.

Markup:
<h1 class="h1">H1 Heading</h1>
<h2 class="h2">H2 Heading</h2>
<h3 class="h3">H3 Heading</h3>
<h4 class="h4">H4 Heading</h4>
<h5 class="h5">H5 Heading</h5>
<h6 class="h6">H6 Heading</h6>
<div class="cui-styleguide__text-section">
</div>

Weight: -20

Styleguide Elements.Texts.Headers
*/

@include font-face('lato-normal','/node_modules/lato-font/fonts/lato-normal/lato-normal', $file-formats: woff);
@include font-face('lato-black','/node_modules/lato-font/fonts/lato-black/lato-black', $file-formats: woff);
@include font-face('lato-bold','/node_modules/lato-font/fonts/lato-bold/lato-bold', $file-formats: woff);

body {
  color: $base-font-color;
  font-size: $base-font-size;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-size: em(16);
  font-weight: 400;
  margin: 0;
}

.h1, %h1 { font-size: $font-size-h1; }
.h2, %h2 { font-size: $font-size-h2; }
.h3, %h3 { font-size: $font-size-h3; }
.h4, %h4 { font-size: $font-size-h4; }
.h5, %h5 { font-size: $font-size-h5; }
.h6, %h6 { font-size: $font-size-h6; }

.h1, .h2, .h3, .h4, .h5, .h6, %h1, %h2, %h3, %h4, %h5, %h6 { 
  font-family: 'lato-black', sans-serif; 
  font-weight: $font-header-weight; 
  letter-spacing: 1.6px;
}

.h1--bold, .h2--bold, .h3--bold, .h4--bold, .h5--bold, .h6--bold, .bold, %h1--bold, %h2--bold, %h3--bold, %h4--bold, %h5--bold, %h6--bold, %bold { 
  font-family: 'lato-bold', sans-serif; 
  font-weight: $font-header-weight; 
  letter-spacing: 1.6px;
}

p {
  color: $base-font-color;
}

/*
Links

Also available as the placeholder selector %cui-link.

Markup: <a class="cui-link" href="">Link Style</a>

Styleguide Elements.Texts.Links
*/

.cui-link,
%cui-link {
  color: $link-color;
  cursor: pointer;
  text-decoration: none;
  transition: color .15s ease-in-out;

  &:hover {
    color: $link-color--hover;
    transition: color .15s ease-in-out;
  }
}

.cui-link--alt,
%cui-link--alt {
  color: $link-alt-color;
  cursor: pointer;
  text-decoration: none;
  transition: color .15s ease-in-out;

  &:hover {
    color: $link-alt-color--hover;
    transition: color .15s ease-in-out;
  }
}

/*
Paragraphs

Default styling for paragraphs

Markup:
<p>Paragraph text. Donec sed odio dui. Cras justo odio, dapibus
ac facilisis in. Egestas eget quam. Maecenas faucibus mollis
interdum maecenas faucibus.</p>

Weight: -10

Styleguide Elements.Texts.Paragraphs
*/

/*
Unordered Lists

Browser styles are removed from lists in order to separate visual presentation from semantic meaning. If you want to restore the default styling, @extend the placeholder selector %cui-ul--default in your list's CSS style declaration block.

.cui-ul--default    - restores browser styling

Markup:
<ul class="{{modifier_class}}">
  <li>Unordered List</li>
  <li>Unordered List</li>
  <li>Unordered List</li>
</ul>

Styleguide Elements.Texts.Unordered-Lists
*/

ul,
ol,
.cui-ul,
.cui-ol {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.cui-ul--default,
%cui-ul--default {
  list-style-type: disc;
  list-style-position: inside;
}

/*
Ordered Lists

Browser styles are removed from lists in order to separate visual presentation from semantic meaning. If you want to restore the default styling, @extend the placeholder selector %cui-ol--default in your list's CSS style declaration block.

.cui-ol--default    - restores browser styling

Markup:
<ol class="{{modifier_class}}">
  <li>Ordered List</li>
  <li>Ordered List</li>
  <li>Ordered List</li>
</ol>

Styleguide Elements.Texts.Ordered-Lists
*/

.cui-ol--default,
%cui-ol--default {
  list-style-type: decimal;
  list-style-position: inside;
}

/*
Status

Markup:
<span class="cui-status--active">Active</span>
<span class="cui-status--pending">Pending</span>
<span class="cui-status--suspended">Suspended</span>
<span class="cui-status--locked">Locked</span>

Styleguide Elements.Texts.Status
*/

%cui-status {
  font-family: 'lato-normal', sans-serif;
  font-size: em(10);

  @media screen and (min-width: 701px) {
    font-size: em(16);
    letter-spacing: $letter-spacing-xs;
  }
}

.cui-status {
  
  &--active {
    @extend %cui-status;
    color: $status--active;
  }

  &--pending {
    @extend %cui-status;
    color: $status--pending;
  }

  &--suspended {
    @extend %cui-status;
    color: $status--suspended;
  }

  &--locked{
    @extend %cui-status;
    color: $status--locked;
  }
}

