// Backgrounds
//
// Markup: <div class="cui-background">Primary</div><div class="cui-background--secondary">Secondary</div>
//
// Styleguide 1.1

.cui-background {
    background-color: $primary-background;
    padding: 20px;
}

.cui-background--secondary {
    background-color: $secondary-background;
    padding: 20px;
}
