// Backgrounds
$primary-background: #fff;
$secondary-background: #DEE9EE;

// Inputs
$cui-input-border: #DEE9EE;
$cui-input-border--focus: #828483;
$cui-input-border--invalid: #FF4400;
$cui-input-border--valid: #47CBB4;

// Colors
$cui-primary-colors--light: #87CEEC;    
$cui-primary-colors--medium-light: #429DD1;
$cui-primary-colors--medium: #4582B4;
$cui-primary-colors--medium-dark: #165E9B;
$cui-primary-colors--dark: #0A2741;

$cui-secondary-colors--light: #3CB371;    
$cui-secondary-colors--medium-light: #FFD700;
$cui-secondary-colors--medium: #FF8C00;
$cui-secondary-colors--dark: #FF4400;

