// Animations
$animation-long: .5s;
$animation-medium: .3s;
$animation-short: .15s;

// Colors
$cui-v2-colors-dark: #1D6572;
$cui-v2-colors-light: #6A98A0;
$cui-v2-colors-secondary: #E8F0F3;
$cui-primary-colors--light: #cde6f0;    
$cui-primary-colors--medium-light: #85a6ad;
$cui-primary-colors--medium: #6a98a0;
$cui-primary-colors--medium-dark: #1d6572;
$cui-primary-colors--dark: #343534;

$cui-background-gradient: linear-gradient(to bottom, $cui-primary-colors--medium-dark, $cui-primary-colors--medium);

$cui-secondary-colors--light: #3CB371;    
$cui-secondary-colors--medium-light: #FFD700;
$cui-secondary-colors--medium: #FF8C00;
$cui-secondary-colors--dark: #ff4400;

$cui-greyscale--x-light: #ECEAEA;
$cui-greyscale--light: #c3c3c3;
$cui-greyscale--medium-light: #343534;
$cui-greyscale--medium: #828483;
$cui-greyscale--medium-dark: #444544;
$cui-greyscale--dark: #343534;

$cui-white: #fff;

// Fonts
$base-font-size: 16px;
$base-font-family: 'lato-regular', sans-serif;
$base-font-weight: 400;
$base-font-color: #929292;

$secondary-font-color: #4A4A4A;

$font-size-h1: 2.5em;
$font-size-h2: 2em;
$font-size-h3: 1.75em;
$font-size-h4: 1.5em;
$font-size-h5: 1.25em;
$font-size-h6: 1em;
$font-header-weight: 700;

$letter-spacing-xxl: 2.1px; 
$letter-spacing-xl: 1.8px;
$letter-spacing-lg: 1.6px;
$letter-spacing-md: 1.5px;
$letter-spacing-sm: 1.2px;
$letter-spacing-xs: 1.1px;

$link-color: $cui-primary-colors--medium;
$link-color--hover: $cui-primary-colors--medium;
$link-alt-color: $cui-primary-colors--medium;
$link-alt-color--hover: $cui-primary-colors--medium;

// Backgrounds
$primary-background: #fff;
$secondary-background: #E8F0F3;
$tertiary-background: #d4e2e6;

// Buttons
$button-border-radius: em(3);
$button-color: $cui-primary-colors--medium-light;
$button-color--active: $cui-primary-colors--medium-dark;
$button-color--error: #dbdbdb;
$button-color--error-hover: $cui-greyscale--medium-light; 
$button-font-size: 15px;
$button-height: em(42,$button-font-size);
$button-width: em(160,$button-font-size);

// Badge
$badge-background-color: red;
$badge-font-size: em(12);

// Inputs
$cui-input-border: #DEE9EE;
$cui-input-border--focus: #828483;
$cui-input-border--invalid: #FF4400;
$cui-input-border--valid: #47CBB4;
$input-padding: 8px 12px;
$input-error-padding: 5px 0 5px;

// Input with Button
$cui-buttonput-btn-bg-color: rgba(232, 240, 243, 0.30);
$cui-buttonput-btn-alt-bg-color: $primary-background;
$cui-buttonput-btn-font-color: $cui-primary-colors--medium;
$cui-buttonput-input-bg-color: rgba(232, 240, 243, 0.30);
$cui-buttonput-input-font-color: $cui-greyscale--medium-dark;

// Checkbox
$cui-checkbox-check-color: $cui-primary-colors--medium;

// Switch
$cui-switch--checked: $cui-primary-colors--medium;
$cui-switch--unchecked: $cui-greyscale--dark;
$cui-switch-height: 50px;
$cui-switch-width: 209px;

// Action Bar
$action-bar-icon-height: em(20);
$action-bar-icon-width: calc(#{$action-bar-icon-height} + 1px);
$action-bar-background: $secondary-background;
$action-bar-alt-background: $tertiary-background;

// Card
$card-background-color: #fff;
$card-border-radius: 6px;
$card-button-height: em(50, 12);
$card-button-border-radius: em(12);
$card-header-color: $cui-greyscale--medium;
$card-header-font-size: $font-size-h3;
$card-header-font-weight: 900;
$card-header-margin: em(5) 0;
$card-icon-color: $cui-primary-colors--medium-light;
$card-padding: em(40);

// Header
$header-background-color: $cui-background-gradient;
$header-bottom-divider: 0;
$header-svg-logo-height: 45px;
$header-svg-logo-width: 200px;
$header-svg-logo-margin-left: 20px;
$header-padding: 0 30px;
$header-top-padding: 0 0;
$header-bottom-padding: 0 0;

// Loading
$loader-circle-color: $cui-primary-colors--medium-light;
$loader-spinner-color: $cui-primary-colors--light;
$loader-button-center-horizontal: calc(#{$button-width} / 2 - 10px);
$loader-button-center-vertical: 8px; 
$loader-large-border-width: em(10);
$loader-large-height-and-width: em(80);
$loader-medium-border-width: em(5);
$loader-medium-height-and-width: em(60);

// Tile
$container-title-bg-color: #fff;
$container-title-bg-color--light: $secondary-background;
$container-title-radius: 0;
$container-title-radius--mobile: 0;
$container-title-text-align: left;
$container-body-border-size: 1px;
$container-body-border-color: $cui-primary-colors--light;
$container-body-radius: 0;
$container-body-radius--mobile: 0;
$container-radius: 6px;
$container-padding: em(12) em(15) em(10) em(15);
$container-padding--mobile: em(12) em(15) em(10) em(15);
$container-padding-small: 20px;
$container-title-background: #53abd0;
$container-title-padding: 0 0 0 10px;
$container-body-max-width: 100%;

// Off-canvas Menu Navigation
$menu-toggle-color: $cui-white;
$menu-toggle-color--active: $cui-primary-colors--medium-light;
$menu-background-color: $cui-background-gradient;
$menu-section-background-color: transparent;
$menu-section-font-color--hover: $cui-secondary-colors--medium;
$menu-sub-section-background-color: transparent;
$menu-sub-section-font-color--hover: $cui-primary-colors--light;
$menu-sub-section-animation: $animation-medium;
$menu-sub-section-animation-offset: $menu-sub-section-animation - .05s;
$snap-menu-breaking-point: 1000px;
$snap-menu-breaking-point-1: 999px;
$snap-menu-background: $cui-background-gradient;
$desktop-menu-width: 300px;
$snap-menu:true;

@if $snap-menu==false{
    $snap-menu-breaking-point: 0px;
    $snap-menu-breaking-point-1: 0px;
}

// Tabs
$tabs-background-color: $secondary-background;
$tabs-background-color--active: #fff;
$tabs-border-bottom: 1px solid #eee;
$tabs-font-color: $cui-v2-colors-light;
$tabs-font-color--active: $cui-v2-colors-dark;
$tabs-divider: 1px solid #fff;
$tabs-padding: em(10);
$tabs-content-padding: em(50) em(20);

// Expandable
$expandable-title-color: #333;
$expandable-review-item-color: #666;
$expandable-review-item-font-size: em(14);
$expandable-review-item-margin: 1em 0;
$expandable-transition: all .3s linear;

// Step Indicator
$step-indicator-border-bottom: 1px solid #ddd;
$step-indicator-margin-bottom: em(40);
$step-indicator-middle-bar-color: #ccc;
$step-indicator-middle-bar-size: em(2);
$step-indicator-title-color: #bbb;
$step-indicator-title-color--active: #333;
$step-indicator-title-color--visited: #666;
$step-indicator-title-color--small-active: $cui-primary-colors--medium;
$step-indicator-title-color--small-visited: #666;
$step-indicator-icon-color: #ccc;
$step-indicator-icon-height: em(24);
$step-indicator-icon-width: em(24);
$step-indicator-icon-border--active: em(2) solid $cui-primary-colors--medium;
$step-indicator-icon-underline--active: 6px solid $cui-primary-colors--medium-light;
$step-indicator-icon-color--active: $cui-primary-colors--medium;
$step-indicator-icon-border--visited: em(2) solid #666;

// Mobile Step Indicator
$mobile-step-icon--expanded: $cui-primary-colors--medium;
$mobile-step-title--expanded: $cui-primary-colors--medium;


// Media Object
$media-object-border: 0; 
$media-object-border-radius: 50%;
$media-object-content-padding: em(5) 0;

// Status
$status--active: $cui-primary-colors--medium-light;
$status--pending: $cui-secondary-colors--medium;
$status--suspended: $cui-secondary-colors--dark;

// normalize overrides
fieldset {
  border: 0;
  margin: 0;
}

*[ui-sref] {
  cursor: pointer;
}

// helpers
%cui-sr-only {
  left: -999em;
  position: absolute;
}

.hide, 
%hide {
  display: none !important;
}

.hide--opacity,
%hide--opacity {
  opacity: 0 !important;
  pointer-events: none !important;
}
// angular styles
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.tether-element {
  position: absolute;
  z-index:9999; 
}