<div class="cui-card cui-card--alt">
  <div class="cui-card__header"></div>
  <img class="cui-card__logo" src="http://placehold.it/100x100"></img>
  <div class="cui-card__title">Example Title</div>
  <div class="cui-card__desc">
    <div class="cui-card__field">Description</div>
    <div class="cui-card__value">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
  </div>
  <div class="cui-card__bottom-row">
    <button class="cui-button cui-button--inverted">launch</button>
    <span class="cui-card__category">Accounting</span>
  </div>
</div>