<div name="emails" class="cui-tags">
  <div class="cui-tags__host" tabindex="-1">
    <div class="cui-tags__container">
      <ul class="cui-tags__tag-list">
        <li class="cui-tags__tag"><span>example@gmail.com</span> 
          <a class="cui-tags__remove">×</a>
        </li>
      </ul>
      <input class="cui-tags__input" autocomplete="off" type="text" placeholder="" spellcheck="true"><span class="cui-tags__registered-tag" style="visibility: hidden; width: auto; white-space: pre; display: none;">example@gmail.com</span>
    </div> 
  </div>
</div>