<fieldset class="cui-radio__fieldset">
  <div class="cui-radio cui-radio--approve">
    <input class="cui-radio__input" type="radio" name="radio-choice" id="radio-choice-3" value="choice-3" />
    <label class="cui-radio__label" for="radio-choice-3">
    <div class="cui-radio__outer-button">
      <div class="cui-radio__inner-button"></div>
    </div>
    </label>
  </div>
  <div class="cui-radio cui-radio--deny">
    <input class="cui-radio__input cui-radio--deny" type="radio" name="radio-choice" id="radio-choice-4" value="choice-4" />
    <label class="cui-radio__label" for="radio-choice-4">
    <div class="cui-radio__outer-button">
      <div class="cui-radio__inner-button"></div>
    </div>
    </label>
  </div>
</fieldset>
<fieldset>
  <div class="cui-radio cui-radio--basic-ltr">
    <input class="cui-radio__input" type="radio" name="radio-choice-basic" id="radio-choice-1" value="choice-1">
    <label class="cui-radio__label" for="radio-choice-1"><span></span>Left Label</label>
  </div>
  <div class="cui-radio cui-radio--basic-rtl">
    <input class="cui-radio__input" type="radio" name="radio-choice-basic" id="radio-choice-2" value="choice-2">
    <label class="cui-radio__label" for="radio-choice-2"><span></span>Right Label</label>
  </div>
</fieldset>
