<div class="cui-top-nav__container">
  <nav class="cui-top-nav" role='navigation'>
    <ul class="cui-top-nav__nav-list">
      <li class="cui-top-nav__section cui-top-nav__section--active">
        <a href="#">Nav section</a>
        <div class="cui-top-nav__sub-nav-dropdown">
          <ul class="cui-top-nav__sub-nav-list">
            <li>
              <span class="cui-top-nav__sub-title" >Sub section</span>
              <ul class="cui-top-nav__sub-nav-items">
                <li class="cui-top-nav__sub-nav-item" ><a href="#">Sub link</a></li>
                <li class="cui-top-nav__sub-nav-item" ><a href="#">Sub link</a></li>
                <li class="cui-top-nav__sub-nav-item" ><a href="#">Sub link</a></li>
              </ul>
            </li>
            <li>
              <span class="cui-top-nav__sub-title" >Sub section</span>
            </li>
            <li>
              <span class="cui-top-nav__sub-title" >Sub section</span>
            </li>
          </ul>
        </div>
      </li>
      <li class="cui-top-nav__section">
        <a href="#">Nav section</a>
      </li>
      <li class="cui-top-nav__section">
        <a href="#">Nav section</a>
      </li>
    </ul>
    <div class="cui-search-container">
      <input class="cui-search" type="text" placeholder="search" />
      <div class="cui-search__dropdown">
        <ul>
          <li class="cui-search__filter">
            <span class="cui-search__filter-title" >Search filter</span>
            <ul class="cui-search__search-filter-items">
              <li class="cui-search__search-filter-item" ><a href="#">Filter link</a></li>
              <li class="cui-search__search-filter-item" ><a href="#">Filter link</a></li>
              <li class="cui-search__search-filter-item" ><a href="#">Filter link</a></li>
            </ul>
          </li>
          <li class="cui-search__filter" ><span class="cui-search__filter-title" >Search filter<span></li>
          <li class="cui-search__filter" ><span class="cui-search__filter-title" >Search filter<span></li>
          <li class="cui-search__filter" ><span class="cui-search__filter-title" >Search filter<span></li>
          <li class="cui-search__filter" ><span class="cui-search__filter-title" >Search filter<span></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
