<div class="cui-styleguide__outer-container">
  <code>@include outer-container;</code>
  <div class="cui-styleguide__row">
    <div class="cui-styleguide__half">
      <code>@include span-columns(6);</code>
    </div>
    <div class="cui-styleguide__half">
      <code>@include span-columns(6);</code>
    </div>  
  </div>
  <div class="cui-styleguide__row">
    <div class="cui-styleguide__thirds">
      <code>@include span-columns(4);</code>
    </div>
    <div class="cui-styleguide__thirds">
      <code>@include span-columns(4);</code>
    </div>
    <div class="cui-styleguide__thirds">
      <code>@include span-columns(4);</code>
    </div>
  </div>
  <div class="cui-styleguide__row">
    <div class="cui-styleguide__quarters">
      <code>@include span-columns(3);</code>
    </div>
    <div class="cui-styleguide__quarters">
      <code>@include span-columns(3);</code>
    </div>
    <div class="cui-styleguide__quarters">
      <code>@include span-columns(3);</code>
    </div>
    <div class="cui-styleguide__quarters">
      <code>@include span-columns(3);</code>
    </div>
  </div>
</div>
