<header class="cui-header">
  <div class="cui-header__svg-logo-container">
    <svg class="cui-header__svg-logo" viewBox="0 0 640 124"><use xlink:href="node_modules/cui-icons/dist/logos/logos-out.svg#covisint-logo"></use></svg>
  </div>
  <div class="cui-header__top">
    <div class="cui-menu__toggle-button-container" snap-toggle="left" onclick="Nav.navToggle()">
      <button class="cui-menu__toggle-button"></button>
    </div>
    <svg class="cui-header__search" viewBox="0 0 48 48">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="node_modules/cui-icons/dist/icons/icons-out.svg#search" class="svg"></use>
    </svg>
    <div class="cui-profile" >
      <span class="cui-profile__user-name">Bill Murray</span>
      <div class="cui-profile__user-avatar"></div>
      <div id="cui-profile__popup" class="cui-profile__user-menu">
        <div class="cui-profile__menu-item">
          <a href="" class="cui-profile__link">My Profile</a>
          <svg class="cui-profile__link-icon" viewBox="-2 -2 52 52">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="node_modules/cui-icons/dist/icons/icons-out.svg#profile" class="svg"></use>
          </svg>
        </div>
        <div class="cui-profile__menu-item">
          <a href="" class="cui-profile__link">Log Out</a>
          <svg class="cui-profile__link-icon" viewBox="-2 -2 52 52">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="node_modules/cui-icons/dist/icons/icons-out.svg#log-out" class="svg"></use>
          </svg>
        </div>
      </div>
      <svg class="cui-profile__chevron" viewBox="0 0 216 146">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="node_modules/cui-icons/dist/font-awesome/font-awesome-out.svg#arrow459" class="svg"></use>
      </svg>
    </div>
  </div>
</header>
