<div class="cui-styleguide__colors cui-primary-colors cui-primary-colors--light">$cui-primary-colors--light #CDE6F0</div>
<div class="cui-styleguide__colors cui-primary-colors cui-primary-colors--medium-light">$cui-primary-colors--medium-light #85A6AD</div>
<div class="cui-styleguide__colors cui-primary-colors cui-primary-colors--medium">$cui-primary-colors--medium #6A98A0</div>
<div class="cui-styleguide__colors cui-primary-colors cui-primary-colors--medium-dark">$cui-primary-colors--medium-dark #1D6572</div>
<div class="cui-styleguide__colors cui-primary-colors cui-primary-colors--dark">$cui-primary-colors--dark #343534</div>
