<div class="cui-profile" >
  <span class="cui-profile__user-name">Bill Murray</span>
  <div class="cui-profile__user-avatar"></div>
  <div id="cui-profile__popup" class="cui-profile__user-menu">
    <div class="cui-profile__menu-item">
      <a href="" class="cui-profile__link">My Profile</a>
      <svg class="cui-profile__link-icon" viewBox="-2 -2 52 52">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="node_modules/cui-icons/dist/icons/icons-out.svg#profile" class="svg"></use>
      </svg>
    </div>
    <div class="cui-profile__menu-item">
      <a href="" class="cui-profile__link">Log Out</a>
      <svg class="cui-profile__link-icon" viewBox="-2 -2 52 52">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="node_modules/cui-icons/dist/icons/icons-out.svg#log-out" class="svg"></use>
      </svg>
    </div>
  </div>
  <svg class="cui-profile__chevron" viewBox="0 0 216 146">
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="node_modules/cui-icons/dist/font-awesome/font-awesome-out.svg#arrow459" class="svg"></use>
  </svg>
</div>
