<div class="cui-styleguide__colors cui-secondary-colors cui-secondary-colors--light">$cui-secondary-colors--light #3CB371</div>
<div class="cui-styleguide__colors cui-secondary-colors cui-secondary-colors--medium-light">$cui-secondary-colors--medium-light #FFD700</div>
<div class="cui-styleguide__colors cui-secondary-colors cui-secondary-colors--medium">$cui-secondary-colors--medium #FF8C00</div>
<div class="cui-styleguide__colors cui-secondary-colors cui-secondary-colors--dark">$cui-secondary-colors--dark #FF4400</div>
