<div class="indicator-container">
  <span class="step-indicator active">Example Step 1</span>
  <span class="step-indicator">Example Step 2</span>
  <span class="step-indicator">Example Step 3</span>
  <span class="step-indicator">Example Step 4</span>
</div>