<div class="cui-flex-table__tr">
  <div class="cui-flex-table__left">
    <div class="cui-flex-table__avatar-col">
      <div class="cui-flex-table__avatar-container">
        <img class="cui-flex-table__avatar" src="http://www.fillmurray.com/50/50"></img>
      </div>
    </div>
    <h2 class="cui-flex-table__title">Timing Control</h2>
  </div>
  <div class="cui-flex-table__middle">
    <p class="cui-flex-table__text">Accounting</p>
  </div>
  <div class="cui-flex-table__right">
    <p class="cui-flex-table__text cui-flex-table__text--right cui-status--pending">Pending</p>
  </div>
</div>
<div class="cui-flex-table__tr cui-flex-table__tr--b">
  <div class="cui-flex-table__avatar-col">
    <div class="cui-flex-table__avatar-container">
      <img class="cui-flex-table__avatar" src="http://www.fillmurray.com/50/50"></img>
    </div>
  </div>
  <div class="cui-flex-table__left--stacked">
    <h2 class="cui-flex-table__title  cui-flex-table__title--green">Lake Glenbury</h2>
    <p class="cui-flex-table__text cui-flex-table__text--left cui-flex-table__text--stacked">granted: 10.11.13</p>
    <span class="cui-status cui-status--active cui-mobile-only">active</span>
  </div>
  <div class="cui-flex-table__middle cui-desktop-only">
    <span class="cui-media__content">Accounting</span>
  </div>
  <div class="cui-flex-table__right cui-flex-table__right--stacked">
    <p class="cui-desktop-only cui-status--pending">Pending</p>
    <p class="cui-flex-table__review">Review</p>  
  </div>
</div>
<div class="cui-flex-table__tr cui-flex-table__tr--c">
  <div class="cui-flex-table__left">
    <div class="cui-flex-table__avatar-col">
      <div class="cui-flex-table__avatar-container">
        <img class="cui-flex-table__avatar" src="http://www.fillmurray.com/50/50"></img>
      </div>
    </div>
    <h2 class="cui-flex-table__title">Cora Murray</h2>
  </div>
  <div class="cui-flex-table__middle cui-flex-table__middle">
    <p class="cui-flex-table__text">CoraMora</p>
  </div>
  <div class="cui-flex-table__middle cui-flex-table__middle">
    <p class="cui-flex-table__text">09.03.2011</p>
  </div>
  <div class="cui-flex-table__right">
    <p class="cui-status--locked">locked</p>
  </div>
</div>
<div class="cui-flex-table__tr">
  <div class="cui-flex-table__left">
    <div class="cui-flex-table__avatar-col">
      <div class="cui-flex-table__avatar-container">
        <img class="cui-flex-table__avatar" src="http://www.fillmurray.com/50/50"></img>
      </div>
    </div>
    <div class="cui-flex-table__left--stacked">
      <h2 class="cui-flex-table__title">Balistreriberg</h2>
      <p class="cui-flex-table__text cui-flex-table__text--stacked"><span class="cui-flex-table__text--header">Requested: </span>09.04.14</p>
      <p class="cui-flex-table__text cui-flex-table__text--stacked"><span class="cui-flex-table__text--header">Approved: </span>Yes</p>
      <p class="cui-flex-table__text cui-flex-table__text--stacked"><span class="cui-flex-table__text--header">Decision Date: </span>09.04.14</p>
      <p class="cui-flex-table__text cui-flex-table__text--stacked"><span class="cui-flex-table__text--header">Evaluator: </span>Bobby Jones</p>
    </div>
  </div>
</div>
<div class="cui-flex-table__tr">
  <div class="cui-flex-table__left">
    <div class="cui-flex-table__avatar-col">
      <div class="cui-flex-table__avatar-container">
        <img class="cui-flex-table__avatar" src="http://www.fillmurray.com/50/50"></img>
      </div>
    </div>
    <h2 class="cui-flex-table__title">Accounting</h2>
  </div>
  <div class="cui-flex-table__right">
      <svg class="cui-flex-table__logo-holder cui-flex-table__text--right cui-flex-table__text--icon" viewBox="0 0 216 146" xmlns:xlink="http://www.w3.org/1999/xlink">
        <use xLink:href="node_modules/cui-icons/dist/font-awesome/font-awesome-out.svg#angle2"></use>
      </svg>
  </div>
</div>
<div class="cui-flex-table__tr">
  <div class="cui-flex-table__left">
    <div class="cui-flex-table__avatar-col">
      <div class="cui-flex-table__avatar-container">
        <img class="cui-flex-table__avatar" src="http://www.fillmurray.com/50/50"></img>
      </div>
    </div>
    <h2 class="cui-flex-table__title">East Petermouth</h2>
  </div>
  <div class="cui-flex-table__middle">
    <p class="cui-flex-table__text">active</p>
  </div>
  <div class="cui-flex-table__right">
      <input class="cui-checkbox" type="checkbox" id="option-1"/><label class="cui-checkbox__label" for="option-1"></label>  
  </div>
</div>
<div class="cui-flex-table__tr">
  <div class="cui-flex-table__avatar-col">
    <div class="cui-flex-table__avatar-container">
      <img class="cui-flex-table__avatar" src="http://www.fillmurray.com/50/50"></img>
    </div>
  </div>
  <div class="cui-flex-table__mobile-stack">
    <div class="cui-flex-table__left">
      <h2 class="cui-flex-table__title">West Blake</h2>
    </div>
    <div class="cui-flex-table__middle">
      <span class="cui-flex-table__text">requested 01.06.2016</span>
    </div>
  </div>
  <fieldset class="cui-flex-table__fieldset">
    <div class="cui-flex-table__right cui-flex-table__multi">
      <div class="cui-radio cui-radio--deny">
        <input class="cui-radio__input" type="radio" name="radio-choice" id="radio-choice-4" value="choice-4" />
        <label class="cui-radio__label" for="radio-choice-4">
        <div class="cui-radio__outer-button">
          <div class="cui-radio__inner-button"></div>
        </div>
        </label>
      </div>
      <div class="cui-radio cui-radio--approve">
        <input class="cui-radio__input" type="radio" name="radio-choice" id="radio-choice-3" value="choice-3" />
        <label class="cui-radio__label" for="radio-choice-3">
        <div class="cui-radio__outer-button">
          <div class="cui-radio__inner-button"></div>
        </div>
        </label>
      </div>
    </div>
  </fieldset>
</div>
<div class="cui-flex-table__tr">
  <div class="cui-flex-table__left">
    <div class="cui-flex-table__avatar-col">
      <div class="cui-flex-table__avatar-container">
        <img class="cui-flex-table__avatar" src="http://www.fillmurray.com/50/50"></img>
      </div>
    </div>
    <h2 class="cui-flex-table__title">Marsha Applby</h2>
  </div>
  <div class="cui-flex-table__middle cui-flex-table__middle">
    <p class="cui-flex-table__text">CoraMora</p>
  </div>
  <div class="cui-flex-table__middle cui-flex-table__middle">
    <p class="cui-flex-table__text">NorthWest</p>
  </div>
  <div class="cui-flex-table__right cui-flex-table__multi">
    <p class="cui-flex-table__text cui-status--active">active</p>
    <p class="cui-flex-table__text cui-flex-table__text--green">edit</p>
  </div>
</div>
<div class="cui-flex-table__tr">
  <div class="cui-flex-table__left">
    <div class="cui-flex-table__avatar-col">
      <div class="cui-flex-table__avatar-container">
        <img class="cui-flex-table__avatar" src="http://www.fillmurray.com/50/50"></img>
      </div>
    </div>
    <div class="cui-flex-table__left--stacked">
      <h2 class="cui-flex-table__title  cui-flex-table__title--green">Lake Glenbury</h2>
      <p class="cui-flex-table__text cui-flex-table__text--left cui-flex-table__text--stacked">Security Admin | 3 More</p>
    </div>
  </div>
  <div class="cui-flex-table__middle cui-flex-table__middle">
    <p class="cui-flex-table__text">CoraMora</p>
  </div>
  <div class="cui-flex-table__middle cui-flex-table__middle">
    <p class="cui-flex-table__text">NorthWest</p>
  </div>
  <div class="cui-flex-table__right cui-flex-table__multi">
    <p class="cui-flex-table__text cui-status--locked">locked</p>
    <p class="cui-flex-table__text cui-flex-table__text--green">edit</p> 
  </div>
</div>
<div class="cui-flex-table__tr">
  <div class="cui-flex-table__left">
    <div class="cui-flex-table__avatar-col">
      <div class="cui-flex-table__avatar-container">
        <img class="cui-flex-table__avatar" src="http://www.fillmurray.com/50/50"></img>
      </div>
    </div>
    <h2 class="cui-flex-table__title">Marsha Applby</h2>
  </div>
  <div class="cui-flex-table__middle cui-flex-table__middle">
    <p class="cui-flex-table__text">marshanator</p>
  </div>
  <div class="cui-flex-table__middle">
    <p class="cui-flex-table__text">Trompberg</p>
  </div>
  <div class="cui-flex-table__middle cui-flex-table__middle">
    <p class="cui-flex-table__text">Nell Little</p>
  </div>
  <div class="cui-flex-table__right">
    <p class="cui-flex-table__text cui-status--locked">locked</p>
  </div>
</div>
<div class="cui-flex-table__tr">
  <div class="cui-flex-table__left">
    <div class="cui-flex-table__avatar-col">
      <div class="cui-flex-table__avatar-container">
        <img class="cui-flex-table__avatar" src="http://www.fillmurray.com/50/50"></img>
      </div>
    </div>
    <h2 class="cui-flex-table__title">Stephen Silva</h2>
  </div>
  <div class="cui-flex-table__middle">
    <p class="cui-flex-table__text">CoraMora</p>
  </div>
  <div class="cui-flex-table__middle">
    <p class="cui-flex-table__text">Ethelview</p>
  </div>
  <div class="cui-flex-table__middle">
    <p class="cui-flex-table__text cui-flex-table__text--green">Nina Vasquez</p>
  </div>
  <div class="cui-flex-table__middle">
    <p class="cui-flex-table__text">apps(23)</p>
  </div>
  <div class="cui-flex-table__right">
    <p class="cui-flex-table__text cui-status--suspended">suspended</p>
  </div>
</div>
