<div class="cui-tabs">
  <ul class="cui-tabs__nav">
    <li class="cui-tabs__tab-container"><a class="cui-tabs__tab cui-tabs__tab--active" data-pane="tab1">Active Tab</a></li>
    <li class="cui-tabs__tab-container"><a class="cui-tabs__tab" data-pane="tab2">Tab</a></li>
    <li class="cui-tabs__tab-container"><a class="cui-tabs__tab" data-pane="tab3">Tab</a></li>
    <li class="cui-tabs__tab-container"><a class="cui-tabs__tab" data-pane="tab4">Tab</a></li>
  </ul>
  <div class="cui-tabs__content">
    <div id="tab1" class="cui-tabs__tab-pane cui-tabs__tab-pane--active"><p>Tab 1 Content</p></div>
    <div id="tab2" class="cui-tabs__tab-pane"><p>Tab 2 Content</p></div>
    <div id="tab3" class="cui-tabs__tab-pane"><p>Tab 3 Content</p></div>
    <div id="tab4" class="cui-tabs__tab-pane"><p>Tab 4 Content</p></div>
  </div>
</div>
