<div class="cui-tree" cui-tree="orgHierarchy.organizationHierarchy" cui-tree-leaf-display="(object.name | cuiI18n)" cui-tree-leaf-click-callback="orgHierarchy.goToOrgProfile">
<div class="cui-tree--nesting-0">
  <div class="cui-tree__branch cui-tree__branch--last">
    <div class="cui-tree__leaf cui-tree__leaf--last"><span>S-3RDWAVE-DEV01</span></div>
    <div class="cui-tree--nesting-1 cui-tree--nested">
      <div class="cui-tree__leaf"><span>BGTESTORG1</span></div>
        <div class="cui-tree__branch cui-tree__branch--last">
          <div class="cui-tree__leaf cui-tree__leaf--last"><span>S-3RDWAVE-DIV01</span></div>
          <div class="cui-tree--nesting-2 cui-tree--nested">
            <div class="cui-tree__leaf cui-tree__leaf--last"><span>Sub-Div</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>