html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

fieldset {
  border: 0;
  margin: 0; }

*[ui-sref] {
  cursor: pointer; }

.hide {
  display: none !important; }

.hide--opacity {
  opacity: 0 !important;
  pointer-events: none !important; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

.tether-element {
  position: absolute;
  z-index: 9999; }

html {
  font-size: 16px; }

.cui-styleguide__colors {
  color: #fff;
  display: inline-flex;
  height: 10em;
  padding: 20px;
  width: 10em; }

.cui-header__user-avatar,
.cui-profile__user-avatar {
  background-image: url(http://www.fillmurray.com/200/200); }

.cui-styleguide__page-container,
.cui-styleguide__main-container {
  display: flex;
  flex-direction: column; }

@media screen and (min-width: 1000px) {
  .cui-styleguide__main-container {
    flex-direction: row;
    flex: 1; } }

@media screen and (min-width: 1000px) {
  .cui-styleguide__main-container {
    flex: 1 0 auto; } }

.cui-styleguide__nav {
  justify-content: center; }
  @media screen and (min-width: 1000px) {
    .cui-styleguide__nav {
      flex: 0 0 15em; } }

.cui-styleguide__nav-menu--child {
  list-style-type: none; }

.cui-styleguide__main {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
  flex: 1;
  min-height: 1000px; }
  .cui-styleguide__main::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (min-width: 999px) {
    .cui-styleguide__main {
      max-width: 80%;
      margin-left: auto;
      margin-right: auto; }
      .cui-styleguide__main::after {
        clear: both;
        content: "";
        display: table; } }

.cui-styleguide__section.cui-tile {
  margin: 50px auto; }

.cui-styleguide__title a {
  color: #6a98a0;
  font-size: 1.5em;
  text-decoration: none; }

.cui-styleguide__markup-container {
  border: 1px solid #eee; }

.cui-styleguide__markup {
  padding: 10px;
  margin-bottom: 0; }

.cui-styleguide__description,
.cui-styleguide-modifier__title,
.cui-styleguide__markup-title {
  font-weight: 900;
  padding: 10px 0; }

.cui-styleguide-modifier__default-name,
.cui-styleguide-modifier__name,
.cui-styleguide-modifier__description {
  margin: 10px 0; }

.cui-background,
.cui-background--secondary,
.cui-background--gradient {
  padding: 20px; }

.cui-background--gradient {
  color: #fff; }

.cui-styleguide-modifier__example--with-bg {
  background-color: #DEE9EE;
  padding: 10px; }

.cui-styleguide__outer-container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  background-color: #E8F0F3;
  margin-bottom: 3em;
  margin-left: auto;
  margin-right: auto;
  max-width: 64em;
  text-align: center; }
  .cui-styleguide__outer-container::after {
    clear: both;
    content: "";
    display: table; }
  .cui-styleguide__outer-container code {
    display: block; }

.cui-styleguide__half, .cui-styleguide__thirds, .cui-styleguide__quarters {
  background-color: rgba(255, 255, 255, 0.75);
  height: 6.25em;
  margin-bottom: 1.5625em; }

.cui-styleguide__half {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 48.821174201%; }
  .cui-styleguide__half:last-child {
    margin-right: 0; }

.cui-styleguide__row {
  display: block; }
  .cui-styleguide__row::after {
    clear: both;
    content: "";
    display: table; }

.cui-styleguide__thirds {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 31.7615656014%; }
  .cui-styleguide__thirds:last-child {
    margin-right: 0; }

.cui-styleguide__quarters {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 23.2317613015%; }
  .cui-styleguide__quarters:last-child {
    margin-right: 0; }
