html {
  font-size: 16px;
}

.cui-styleguide__colors {
  color: #fff;
  display: inline-flex;
  height: 6rem;
  padding: 20px;
  width: 6rem;
}

.cui-header__user--avatar {
  background-image: url(http://www.fillmurray.com/200/200);
}

.cui-styleguide__page-container,
.cui-styleguide__main-container {
  display: flex;
  flex-direction: column;
}

.cui-styleguide__main-container {
  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex: 1;
  }
}

.cui-styleguide__main-container {
  @media screen and (min-width: 768px) {
    flex: 1 0 auto;
  }
}

.cui-styleguide__nav {
  justify-content: center;
  @media screen and (min-width: 768px) {
    flex: 0 0 15em;
  }
}

.cui-styleguide__nav-menu--child {
  list-style-type: none;
}

.cui-styleguide__main {
  background-color: #dfe9ee;
  flex: 1;
}

.cui-styleguide__section.cui-container {
  margin: 50px auto;
}

.cui-styleguide__title a {
  color: #fff;
  text-decoration: none;
}